$pagination-background-color: $white !default;

$pagination-item-title-color: $grey-darker !default;

$pagination-item-subtitle-color: $grey-dark !default;

@import '~bulma/sass/components/pagination';

.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous {
    background-color: $pagination-background-color;
}

.pagination-previous,
.pagination-next,
.pagination-link {
    &[data-disabled] {
        background-color: $pagination-disabled-background-color;
        border-color: $pagination-disabled-border-color;
        box-shadow: none;
        color: $pagination-disabled-color;
        opacity: 0.5;
    }
}

.pagination-item {
    background-color: transparent;
    border: none;
    display: block;
    height: auto;

    &.pagination-previous {
        text-align: left;
    }

    &.pagination-next {
        text-align: right;
    }

    &:hover {
        .title,
        .subtitle {
            color: $pagination-hover-color;
        }
    }

    &[disabled],
    &[data-disabled] {
        .title,
        .subtitle {
            color: $pagination-disabled-color;
            opacity: 0.5;
        }
    }

    .title {
        color: $pagination-item-title-color;
    }

    .subtitle {
        color: $pagination-item-subtitle-color;
    }
}
