$expandable-color: $link !default;
$expandable-background-color: $background !default;
$expandable-hover-color: $link-hover !default;
$expandable-hover-background-color: scale-color($background, $lightness: -5%) !default;
$expandable-padding: 0.5rem 2rem !default;
$expandable-height: 2.5rem !default;

.expandable {
    @include block;

    display: block;

    &:hover {
        .expandable-summary {
            color: $expandable-hover-color;
            background-color: $expandable-hover-background-color;
        }
    }

    &[open] {
        .expandable-summary {
            opacity: 0;
            pointer-events: none;
        }

        .expandable-content {
            margin-top: #{-1 * $expandable-height};
        }
    }
}

.expandable-summary {
    align-items: flex-start;
    background-color: $expandable-background-color;
    color: $expandable-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: $expandable-height;
    list-style: none;
    transition: background-color $speed $easing, color $speed $easing, opacity $speed $easing;

    &::-webkit-details-marker {
        display: none;
    }
}

.expandable-content {
    margin-top: 0;
    transition: margin-top $speed $easing;
}
