$hero-caption-family: $family-sans-serif !default;
$hero-caption-item-background-color: $black !default;
$hero-caption-item-caption-background-color: rgba($black, 0.75) !default;
$hero-caption-item-caption-size: $size-normal !default;
$hero-caption-item-color: $white !default;
$hero-caption-item-license-right: 0.5rem !default;
$hero-caption-item-license-size: $size-small !default;
$hero-caption-item-padding: 0.25rem 1rem !default;
$hero-caption-item-size: $size-large !default;
$hero-caption-item-title-margin: 0 0 0.75rem 0 !default;
$hero-caption-item-title-padding: 0.5rem 1rem !default;
$hero-caption-item-title-size: $size-larger !default;
$hero-caption-item-weight: $weight-light !default;
$hero-caption-padding: 0.5rem 1rem !default;

.hero {
    &:hover {
        .hero-caption-item {
            &.is-caption,
            &.is-license {
                transform: translateY(0);
            }
        }
    }

    &.is-1by1 {
        .hero-item {
            padding-top: 100%;
        }
    }

    &.is-16by9 {
        .hero-item {
            padding-top: calc(9 / 16 * 100%);
        }
    }

    &.is-21by9 {
        .hero-item {
            padding-top: calc(9 / 21 * 100%);
        }
    }

    &.is-3by1 {
        .hero-item {
            padding-top: calc(1 / 3 * 100%);
        }
    }

    &.is-6by1 {
        .hero-item {
            padding-top: calc(1 / 6 * 100%);
        }
    }
}

.hero-item {
    left: 50%;
    overflow: hidden;
    position: relative;
    transform: translateX(-50%);

    .image,
    .video {
        top: 50%;
        transform: translateY(-50%);
    }

    img {
        object-fit: cover;
    }
}

.hero-asset,
.hero-image,
.hero-video {
    @include overlay;
}

.hero-caption {
    @include overlay;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: $hero-caption-family;
    padding: $hero-caption-padding;
}

.hero-caption-item {
    background-color: $hero-caption-item-background-color;
    color: $hero-caption-item-color;
    font-size: $hero-caption-item-size;
    font-weight: $hero-caption-item-weight;
    margin-top: 0;
    padding: $hero-caption-item-padding;
    transition: transform $speed $easing;

    &.is-title {
        font-size: $hero-caption-item-title-size;
        margin: $hero-caption-item-title-margin;
        padding: $hero-caption-item-title-padding;
    }

    &.is-license {
        font-size: $hero-caption-item-license-size;
        position: absolute;
        right: $hero-caption-item-license-right;
        top: 0;
        transform: translateY(0);
    }

    &.is-caption {
        background-color: $hero-caption-item-caption-background-color;
        bottom: 0;
        font-size: $hero-caption-item-caption-size;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        transform: translateY(0);
    }

    @include desktop {
        &.is-license {
            transform: translateY(-100%);
        }

        &.is-caption {
            transform: translateY(100%);
        }
    }
}
