$pagination-background-color: $white !default;

$pagination-item-title-color: $grey-darker !default;

$pagination-item-subtitle-color: $grey-dark !default;

@import '~bulma/sass/components/pagination';

.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous {
    background-color: $pagination-background-color;
}

.pagination-item {
    border: none;
    display: block;
    height: auto;

    &.pagination-previous {
        text-align: left;
    }

    &.pagination-next {
        text-align: right;
    }

    &:hover {
        .title,
        .subtitle {
            color: $pagination-hover-color;
        }
    }

    .title {
        color: $pagination-item-title-color;
    }

    .subtitle {
        color: $pagination-item-subtitle-color;
    }
}
