{{ if .Site.Params.Meta.Organization }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ .Site.Params.Meta.Organization.Name }}",
            {{ if .Site.Params.Meta.Organization.Logo }}
                "logo": "{{ .Site.Params.Meta.Organization.Logo }}",
            {{ end }}
            {{ if .Site.Params.Meta.Organization.Address }}
                "address": "{{ .Site.Params.Meta.Organization.Address }}",
            {{ end }}
            "url": "{{ .Site.BaseURL }}"
        }
    </script>
{{ end }}
