{{- $name := .name -}}
{{- $current := .context -}}

{{ with .context }}
    {{ range index .Site.Menus $name }}
        {{ if or ($current.IsMenuCurrent $name .) ($current.HasMenuCurrent $name .) }}
            {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable is-current">
                    <a class="navbar-link" href="{{ .URL }}" title="{{ .Name }}">
                        {{ .Name }}
                    </a>

                    <div class="navbar-dropdown">
                        {{ range .Children }}
                            <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }}">
                                {{ .Name }}
                            </a>
                        {{ end }}
                    </div>
                </div>
            {{ else }}
                <a class="navbar-item is-current" href="{{ .URL }}" title="{{ .Name }}">
                    {{ .Name }}
                </a>
            {{ end }}
        {{ else }}
            {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ .URL }}" title="{{ .Name }}">
                        {{ .Name }}
                    </a>

                    <div class="navbar-dropdown">
                        {{ range .Children }}
                            <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }}">
                                {{ .Name }}
                            </a>
                        {{ end }}
                    </div>
                </div>
            {{ else }}
                <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }}">
                    {{ .Name }}
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
