<article class="page is-single">
    <div class="page-head">
        <div class="page-date">
            {{ partial "components/common/date" .Date }}
        </div>

        <div class="page-category">
            {{ partial "components/common/category" . }}
        </div>

        <h1 class="title">{{ .Title }}</h1>

        {{ with .Description }}
            <h2 class="subtitle">{{ . }}</h2>
        {{ end }}

        <div class="page-advertisement">
            {{ partial "wrappers/amp-advertisement" . }}
        </div>
    </div>

    <div class="page-body">
        <div class="page-share is-fixed-left">
            {{ partial "components/common/share" . }}
        </div>

        <div class="page-series">
            {{ partial "components/common/series" . }}
        </div>

        <div class="page-content content">
            {{ .Content }}
        </div>
    </div>

    <div class="page-foot">
        <div class="page-advertisement">
            {{ partial "wrappers/amp-advertisement" . }}
        </div>

        {{ if "author" | .Param }}
            <div class="page-byline">
                {{ partial "wrappers/amp-byline" . }}
            </div>
        {{ end }}

        <div class="page-meta">
            {{ if slice .Lastmod .Date | partial "functions/compare-date" }}
                <div class="page-meta-item">
                    <span class="icon">
                        {{ slice . "icon-lastmod" | partial "functions/get-svg-icon" }}
                    </span>
                    {{ partial "renderers/date" .Lastmod }}
                </div>
            {{ end }}

            {{ if .Param "tags" }}
                <div class="page-meta-item">
                    <span class="icon">
                        {{ slice . "icon-tag" | partial "functions/get-svg-icon" }}
                    </span>
                    {{ dict "context" . "name" "tags" | partial "renderers/taxonomy" }}
                </div>
            {{ end }}

            <div class="page-meta-item">
                <div class="page-share">
                    {{ partial "components/common/share" . }}
                </div>
            </div>
        </div>
    </div>
</article>
