{{- $taxonomy := "series" | index .Site.Taxonomies -}}

<div class="page-relation">
    {{ if "series" | .Param }}
        {{- $count := "series" | .Param | len | sub 3 -}}

        {{ range "series" | .Param | first 3 }}
            {{- $name := . | urlize -}}

            {{ with $name | $taxonomy.Get }}
                <article class="page is-series">
                    <div class="page-hero">
                        {{ partial "components/wrappers/amp-hero.html" .Page }}
                    </div>

                    <div class="page-head">
                        {{ with .Page }}
                            <h2 class="title">{{ .Title | default $name }}</h2>

                            {{ with .Description }}
                                <h3 class="subtitle">{{ . }}</h3>
                            {{ end }}
                        {{ end }}
                    </div>

                    <div class="page-body">
                        {{ range .Pages | first 5 }}
                            <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                        {{ end }}
                    </div>

                    <div class="page-foot">
                        {{ with $name | printf "/%s/%s" "series" | $.Site.GetPage }}
                            <a href="{{ .RelPermalink }}" title="{{ $name | $taxonomy.Count | i18n "page_series_link" }}">{{ $name | $taxonomy.Count | i18n "page_series_link" }}</a>
                        {{ end }}
                    </div>
                </article>
            {{ end }}
        {{ end }}

        {{ range . | .Site.RegularPages.Related | first ($count | cond ($count | ge 0) 0) }}
            <article class="page is-card">
                <div class="page-hero">
                    {{ partial "components/wrappers/amp-hero.html" . }}

                    <div class="page-category">
                        {{ partial "components/elements/category.html" . }}
                    </div>
                </div>

                <div class="page-head">
                    <h3 class="subtitle">
                        {{ partial "components/renderers/date.html" .Date }}
                    </h3>
                    <h2 class="title">{{ .Title }}</h2>
                </div>

                <div class="page-body">
                    <div class="content page-content">
                        {{ .Summary }}
                    </div>
                </div>

                <div class="page-foot">
                    <div class="page-meta">
                        <div class="page-meta-item">
                            <span class="icon">
                                {{ slice . "icon-reading-time" | partial "functions/get-icon.svg" }}
                            </span>
                            <span>{{ .ReadingTime | i18n "page_reading_time" }}</span>
                        </div>

                        <div class="page-meta-item"></div>

                        <a class="button is-permalink" href="{{ .RelPermalink }}" title="{{ .Title }}">
                            {{ i18n "page_read_continue" | default "Continue" }}
                        </a>
                    </div>
                </div>
            </article>
        {{ end }}
    {{ else }}
        {{ range . | .Site.RegularPages.Related | first 3 }}
            <article class="page is-banner">
                <div class="page-hero">
                    {{ partial "components/wrappers/amp-hero.html" . }}

                    <div class="page-category">
                        {{ partial "components/elements/category.html" . }}
                    </div>
                </div>

                <div class="page-head">
                    <a class="button is-permalink" href="{{ .RelPermalink }}" title="{{ .Title }}">
                        <span class="icon">
                            {{ slice . "icon-card-link" | partial "functions/get-icon.svg" }}
                        </span>
                    </a>
                    <h3 class="subtitle">
                        {{ partial "components/renderers/date.html" .Date }}
                    </h3>
                    <h2 class="title">{{ .Title }}</h2>
                </div>
            </article>
        {{ end }}
    {{ end }}
</div>
