<article class="page is-summary">
    <div class="page-hero">
        {{ partial "components/wrappers/html-hero.html" . }}
    </div>

    <div class="page-head">
        <div class="page-date">
            {{ partial "components/elements/date.html" .Date }}
        </div>

        <div class="page-category">
            {{ partial "components/elements/category.html" . }}
        </div>

        <h2 class="title">
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </h2>

        {{ with .Description }}
            <h3 class="subtitle">{{ . }}</h3>
        {{ end }}
    </div>

    <div class="page-body">
        <div class="content page-content">
            {{ .Summary }}
        </div>
    </div>

    <div class="page-foot">
        <div class="page-meta">
            <div class="page-meta-item">
                <span class="icon">
                    {{ slice . "icon-reading-time" | partial "functions/get-icon.svg" }}
                </span>
                <span>{{ .ReadingTime | i18n "page_reading_time" }}</span>
            </div>

            {{ if slice .Lastmod .Date | partial "functions/is-date-later-than.boolean" }}
                <div class="page-meta-item">
                    <span class="icon">
                        {{ slice . "icon-lastmod" | partial "functions/get-icon.svg" }}
                    </span>
                    {{ partial "components/renderers/date.html" .Lastmod }}
                </div>
            {{ end }}

            {{ if "tags" | .Param }}
                <div class="page-meta-item">
                    <span class="icon">
                        {{ slice . "icon-tag" | partial "functions/get-icon.svg" }}
                    </span>
                    {{ partial "components/elements/tag.html" . }}
                </div>
            {{ end }}

            <div class="page-meta-item"></div>

            {{ if .Truncated }}
                <a class="button is-permalink" href="{{ .RelPermalink }}" title="{{ .Title }}">
                    {{ i18n "page_read_more" | default "Read More ..." }}
                </a>
            {{ end }}
        </div>
    </div>
</article>
