{{- $taxonomy := "series" | index .Site.Taxonomies -}}

<div class="page-relation">
    {{ if "series" | .Param }}
        {{- $count := "series" | .Param | len | sub 3 -}}

        {{ range "series" | .Param | first 3 }}
            {{- $name := . | urlize -}}

            {{ with $name | $taxonomy.Get }}
                {{- $properties := dict "classes" "is-series" "size" "1by1" | slice .Page | partial "functions/get-page-properties.dict" -}}

                {{- $classes := "classes" | index $properties -}}
                {{- $hero := "hero" | index $properties -}}

                <article class="page {{ delimit $classes " " }}">
                    {{ if "item" | index $hero }}
                        <div class="page-hero">
                            {{ slice .Page $hero | partial "components/renderers/hero.html" }}
                        </div>
                    {{ end }}

                    <div class="page-head">
                        {{ with .Page }}
                            <h2 class="title">{{ .Title | default $name }}</h2>

                            {{ with .Description }}
                                <h3 class="subtitle">{{ . }}</h3>
                            {{ end }}
                        {{ end }}
                    </div>

                    <div class="page-body">
                        {{ range .Pages | first 5 }}
                            <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                        {{ end }}
                    </div>

                    <div class="page-foot">
                        {{ with $name | printf "/%s/%s" "series" | $.Site.GetPage }}
                            <a href="{{ .RelPermalink }}" title="{{ $name | $taxonomy.Count | i18n "page_series_link" }}">{{ $name | $taxonomy.Count | i18n "page_series_link" }}</a>
                        {{ end }}
                    </div>
                </article>
            {{ end }}
        {{ end }}

        {{ range . | .Site.RegularPages.Related | first ($count | cond ($count | ge 0) 0) }}
            {{- $properties := dict "classes" "is-card" "size" "21by9" | slice . | partial "functions/get-page-properties.dict" -}}

            {{- $classes := "classes" | index $properties -}}
            {{- $hero := "hero" | index $properties -}}

            <article class="page {{ delimit $classes " " }}">
                <div class="page-hero">
                    {{ if "item" | index $hero }}
                        {{ slice . $hero | partial "components/renderers/hero.html" }}
                    {{ end }}

                    <div class="page-category">
                        {{ partial "components/elements/category.html" . }}
                    </div>
                </div>

                <div class="page-head">
                    <h3 class="subtitle">
                        {{ slice .Date | partial "components/renderers/date.html" }}
                    </h3>
                    <h2 class="title">{{ .Title }}</h2>
                </div>

                <div class="page-body">
                    <div class="page-content content">
                        {{ .Summary | truncate 320 }}
                    </div>
                </div>

                <div class="page-foot">
                    <div class="page-meta">
                        <div class="page-meta-item">
                            <span class="icon">
                                {{ slice . "icon-reading-time" | partial "functions/get-icon.svg" }}
                            </span>
                            <span>{{ .ReadingTime | i18n "page_reading_time" }}</span>
                        </div>

                        <div class="page-meta-item"></div>

                        <a class="button is-permalink" href="{{ .RelPermalink }}" title="{{ .Title }}">
                            {{ i18n "page_read_continue" | default "Continue" }}
                        </a>
                    </div>
                </div>
            </article>
        {{ end }}
    {{ else }}
        {{ range . | .Site.RegularPages.Related | first 3 }}
            {{- $properties := dict "classes" "is-banner" "size" "21by9" | slice . | partial "functions/get-page-properties.dict" -}}

            {{- $classes := "classes" | index $properties -}}
            {{- $hero := "hero" | index $properties -}}

            <article class="page {{ delimit $classes " " }}">
                <div class="page-hero">
                    {{ if "item" | index $hero }}
                        {{ slice . $hero | partial "components/renderers/hero.html" }}
                    {{ end }}

                    <div class="page-category">
                        {{ partial "components/elements/category.html" . }}
                    </div>
                </div>

                <div class="page-head">
                    <a class="button is-permalink" href="{{ .RelPermalink }}" title="{{ .Title }}">
                        <span class="icon">
                            {{ slice . "icon-card-link" | partial "functions/get-icon.svg" }}
                        </span>
                    </a>
                    <h3 class="subtitle">
                        {{ slice .Date | partial "components/renderers/date.html" }}
                    </h3>
                    <h2 class="title">{{ .Title }}</h2>
                </div>

                {{ if "item" | index $hero | not }}
                    <div class="page-body">
                        <div class="page-content content">
                            {{ .Summary | truncate 180 }}
                        </div>
                    </div>

                    <div class="page-foot"></div>
                {{ end }}
            </article>
        {{ end }}
    {{ end }}
</div>
