{{- $schema := newScratch -}}

{{- $items := slice -}}
{{- range $index, $page := slice . | partial "functions/get-page-breadcrumb.slice" -}}
    {{- $position := $index | add 1 -}}
    {{- $name := $page.Title | default $.Site.Title -}}
    {{- $item := dict "@id" $page.Permalink "name" $name | dict "@type" "ListItem" "position" $position "item" | slice -}}

    {{- $items = $items | append $item -}}
{{- end -}}

{{- "http://schema.org" | $schema.SetInMap "schema" "@context" -}}
{{- "BreadcrumbList" | $schema.SetInMap "schema" "@type" -}}
{{- $items | $schema.SetInMap "schema" "itemListElement" -}}

<script type="application/ld+json">
    {{ "schema" | $schema.Get | jsonify | safeJS }}
</script>
