{{- $schema := newScratch -}}

{{- "http://schema.org" | $schema.SetInMap "schema" "@context" -}}
{{- "Course" | $schema.SetInMap "schema" "@type" -}}
{{- .Title | $schema.SetInMap "schema" "name" -}}
{{- slice . | partial "functions/get-page-description.txt" | $schema.SetInMap "schema" "description" -}}

{{- range $key, $value := .Params.CourseProvider -}}
    {{- "Organization" | $schema.SetInMap "provider" "@type" -}}
    {{- $value | $schema.SetInMap "provider" $key -}}
{{- end -}}

{{- with "provider" | $schema.Get -}}
    {{- . | $schema.SetInMap "schema" "provider" -}}
{{- end -}}

<script type="application/ld+json">
    {{ "schema" | $schema.Get | jsonify | safeJS }}
</script>
