{{- $schema := newScratch -}}

{{- "http://schema.org" | $schema.SetInMap "schema" "@context" -}}
{{- "Recipe" | $schema.SetInMap "schema" "@type" -}}
{{- .Title | $schema.SetInMap "schema" "name" -}}
{{- slice . | partial "functions/get-meta-description.txt" | $schema.SetInMap "schema" "description" -}}

{{- if not .PublishDate.IsZero -}}
    {{- slice .PublishDate | partial "functions/format-datetime.txt" | $schema.SetInMap "schema" "datePublished" -}}
{{- end -}}

{{- if not .Lastmod.IsZero -}}
    {{- slice .Lastmod | partial "functions/format-datetime.txt" | $schema.SetInMap "schema" "dateModified" -}}
{{- end -}}

{{- with "author" | .Param | slice . | partial "functions/get-author-data.dict" -}}
    {{- .name | dict "name" | $schema.SetInMap "schema" "author" -}}
{{- end -}}

{{- range $key, $value := .Params.Recipe -}}
    {{- $value | $schema.SetInMap "schema" $key -}}
{{- end -}}

{{- range $key, $value := .Params.RecipeNutrition -}}
    {{- "NutritionInformation" | $schema.SetInMap "nutrition" "@type" -}}
    {{- $value | $schema.SetInMap "nutrition" $key -}}
{{- end -}}

{{- with "nutrition" | $schema.Get -}}
    {{- . | $schema.SetInMap "schema" "nutrition" -}}
{{- end -}}

{{- range $key, $value := .Params.RecipeRating -}}
    {{- "http://schema.org" | $schema.SetInMap "rating" "@context" -}}
    {{- "AggregateRating" | $schema.SetInMap "rating" "@type" -}}
    {{- $value | $schema.SetInMap "rating" $key -}}
{{- end -}}

{{- with "rating" | $schema.Get -}}
    {{- . | $schema.SetInMap "schema" "aggregateRating" -}}
{{- end -}}

{{- with .Params.Images | default slice | first 1 -}}
    {{- if reflect.IsMap . -}}
        {{- range $key, $value := . | default dict -}}
            {{- if and $key $value -}}
                {{- "http://schema.org" | $schema.SetInMap "image" "@context" -}}
                {{- "ImageObject" | $schema.SetInMap "image" "@type" -}}
                {{- $value | $schema.SetInMap "image" $key -}}
            {{- end -}}
        {{- end -}}
        {{- "image" | $schema.Get | $schema.SetInMap "schema" "image" -}}
    {{- else -}}
        {{- . | absURL | $schema.SetInMap "schema" "image" -}}
    {{- end -}}
{{- end -}}

<script type="application/ld+json">
    {{ "schema" | $schema.Get | jsonify | safeJS }}
</script>
