{{ if not .Site.Config.Privacy.Disqus.Disable | and .Site.Config.Services.Disqus.Shortname }}
    {{ if .Param "comments" | and .IsPage }}
        <script>
            window.disqus_config = function () {
                {{ with .Params.disqus_identifier }}
                    this.page.identifier = '{{ . }}'
                {{ end }}

                {{with .Params.disqus_title }}
                    this.page.title = '{{ . }}'
                {{ end }}

                {{with .Params.disqus_url }}
                    this.page.url = '{{ . | html  }}'
                {{ end }}
            }
        </script>
        <script src="//{{ .Site.Config.Services.Disqus.Shortname }}.disqus.com/embed.js" async></script>
    {{ end }}
{{ end }}
