{{- $images := $.Resources.ByType "image" -}}
{{- $image := $images.GetMatch "*cover*" | or ($images.GetMatch "*feature*") -}}

<div class="hero">
    <div class="hero-body">
        {{ if .Params.Videos }}
            {{- $video := index .Params.Videos 0 -}}

            <div class="hero-media is-video">
                <iframe src="{{ $video | absURL }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {{ else if $image }}
            {{- $caption := .Params.Caption | default $image.Title | default $image.Name -}}

            {{ if .Params.Cover }}
                {{- $cover := $image.Fill "1920x640 center" -}}

                <div class="hero-media is-cover">
                    <figure class="image">
                        <img src="{{ $cover.RelPermalink }}" alt="{{ $caption }}">
                        {{ with $caption }}
                            <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </div>
            {{ else }}
                {{- $banner := $image.Fill "1920x320 center" -}}

                <div class="hero-media is-banner">
                    <figure class="image">
                        <img src="{{ $banner.RelPermalink }}" alt="{{ $caption }}">
                        {{ with $caption }}
                            <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </div>
            {{ end }}
        {{ else if .Site.Params.DefaultHeroBanner }}
            {{- $banner := resources.Get .Site.Params.DefaultHeroBanner | fingerprint "sha512" -}}

            <div class="hero-media is-banner">
                <figure class="image">
                    <img src="{{ $banner.RelPermalink }}" alt="{{ .Site.Title }}">
                </figure>
            </div>
        {{ else }}
            <div class="hero-media"></div>
        {{ end }}
    </div>
</div>
