{{- $enabled := .Params.EnabledSocials -}}
{{- $disabled := .Params.DisabledSocials -}}

<nav class="navbar is-transparent is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.Home.RelPermalink }}">
                {{ partial "templates/brand" . }}
            </a>

            <a class="navbar-burger" href="#" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                {{ partial "components/common/navbar-start-items" . }}
            </div>

            <div class="navbar-end">
                {{ if .IsTranslated }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ .RelPermalink }}" title="{{ .Title }}">
                            {{ .Language.LanguageName }}
                        </a>

                        <div class="navbar-dropdown is-boxed">
                            {{- $current := .Language.LanguageName -}}
                            {{ range .Site.Home.AllTranslations.ByWeight }}
                                {{ if eq $current .Language.LanguageName }}
                                    <a class="navbar-item is-active" href="{{ .RelPermalink }}" title="{{ .Title }}">
                                        {{ .Language.LanguageName }}
                                    </a>
                                {{ else }}
                                    <a class="navbar-item" href="{{ .RelPermalink }}" title="{{ .Title }}">
                                        {{ .Language.LanguageName }}
                                    </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
                <div class="navbar-item has-items">
                    {{ with .Site.Params.Socials }}
                        {{ range sort . "weight" }}
                            {{ if slice . $enabled $disabled | partial "functions/check-boolean-value" }}
                                {{- $defaultLinkTitle := dict "Name" .name | i18n "navbar_social_service" | default .name -}}

                                <div class="navbar-item">
                                    <a
                                        class="icon icon-{{ .icon }}"
                                        href="{{ .url | safeURL }}"
                                        title="{{ .name | lower | printf "navbar_social_%s" | i18n | default $defaultLinkTitle | safeHTMLAttr }}"
                                        rel="external noopener"
                                    >
                                        {{ partial (printf "images/%s.svg" .icon) . }}
                                    </a>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ with .Site.Home.OutputFormats.Get "RSS" }}
                        <div class="navbar-item">
                            <a class="icon icon-rss" href="{{ .RelPermalink }}" title="{{ i18n "navbar_social_rss" | default "RSS" }}">
                                {{ partial "images/rss.svg" . }}
                            </a>
                        </div>
                    {{ end }}
                </div>
                {{ with .Site.Home.OutputFormats.Get "JSON" }}
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <p class="control">
                                <input class="input" type="text" placeholder="Search">
                            </p>
                            <p class="control">
                                <button class="button">
                                    <span class="icon icon-search">
                                        {{ partial "images/magnify.svg" . }}
                                    </span>
                                </button>
                            </p>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ if .IsPage }}
        <progress class="progress is-primary is-small" min="0" max="100" value="0"></progress>
    {{ end }}
</nav>
