{{- $schema := newScratch -}}

{{- "http://schema.org" | $schema.SetInMap "schema" "@context" -}}
{{- "Website" | $schema.SetInMap "schema" "@type" -}}
{{- ".Site.Title" | $schema.SetInMap "schema" "name" -}}
{{- range $key, $value := "schema-website" | index .Site.Data | default dict -}}
    {{- if and $key $value -}}
        {{- $value | $schema.SetInMap "schema" $key -}}
    {{- end -}}
{{- end -}}
{{- .Site.BaseURL | $schema.SetInMap "schema" "url" -}}

<script type="application/ld+json">
    {{ "schema" | $schema.Get | jsonify | safeJS }}
</script>
