$list-padding: 1.5rem !default;
$list-term-box-border: 0.0625rem solid $grey-light !default;
$list-term-box-margin: 1rem !default;
$list-term-count-size: $size-normal !default;
$list-term-date-color: $grey !default;
$list-term-date-margin: 0 0.5rem 0 0 !default;
$list-term-group-item-margin: 0 1rem !default;
$list-term-group-margin: 0.5rem 1.5rem !default;
$list-term-heading-month-size: $size-large !default;
$list-term-heading-size: $size-large !default;
$list-term-heading-year-size: $size-larger !default;
$list-term-item-padding: 0.5rem 0 !default;
$list-term-list-margin: 0 1rem !default;
$list-term-list-padding: 0 0 1rem 0 !default;

.page {
    &.is-archive,
    &.is-taxonomy,
    &.is-term {
        .title {
            + .breadcrumb {
                margin-top: -1.25rem;
            }
        }

        .page-body {
            &:last-child {
                padding-bottom: $list-padding;
            }
        }
    }
}

.archive-content {
    .term-item {
        &::before {
            background-image: svg-load('images/format-section.svg', fill=$text);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            content: '';
            display: block;
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
        }
    }
}

.list-advertisement {
    @include block;
}

.term-box {
    @include block;

    margin-left: $list-term-box-margin;
    margin-right: $list-term-box-margin;
    padding: $list-term-list-padding;

    &:not(:last-child) {
        border-bottom: $list-term-box-border;
    }
}

.term-heading {
    font-size: $list-term-heading-size;
    font-weight: $weight-bold;

    &.is-month {
        font-size: $list-term-heading-month-size;
    }

    &.is-year {
        font-size: $list-term-heading-year-size;
    }
}

.term-count {
    font-size: $list-term-count-size;
    font-weight: $weight-normal;
}

.term-group {
    margin: $list-term-group-margin;

    .term-item {
        margin: $list-term-group-item-margin;
    }
}

.term-list {
    margin: $list-term-list-margin;
}

.term-item {
    display: flex;
    padding: $list-term-item-padding;
    position: relative;
}

.term-date {
    color: $list-term-date-color;
    margin: $list-term-date-margin;
}
