$header-hero-box-shadow: inset 0 0.5rem 1rem 1rem $body-background-color, inset 0 -5rem 12rem rgba($primary, 0.25) !default;
$header-hero-caption-item-license-right: 2.5rem !default;
$header-hero-caption-item-license-top: 1.5rem !default;
$header-hero-caption-padding: 2.5rem 2rem !default;
$header-hero-height: 320px !default;
$header-hero-offset: 1.5rem !default;
$header-hero-width: 1920px !default;

.header-hero {
    @if not $amp {
        &.has-hero {
            &.is-page {
                margin-bottom: #{-1 * $header-hero-offset};
            }
        }

        &.has-hero-cover {
            @include desktop {
                .hero {
                    width: 100vw;
                }

                .hero-item {
                    padding-top: 0;
                    height: calc(100vh - #{$navbar-height});
                }

                .hero-image {
                    .image {
                        padding-top: 0;
                        height: calc(100vh - #{$navbar-height});
                    }

                    img {
                        height: 100%;
                    }
                }

                .hero-caption {
                    max-height: calc(100vh - #{$navbar-height});
                    max-width: 100vw;
                }
            }
        }
    }

    .hero {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: $header-hero-width;

        @if not $amp {
            margin-top: #{-1 * $header-hero-offset};
            transition: margin-top $speed $easing;

            @include touch {
                margin-top: #{-2 * $header-hero-offset};
            }
        }
    }

    .hero-item {
        &::after {
            @include overlay;

            box-shadow: $header-hero-box-shadow;
            content: '';

            @if not $amp {
                pointer-events: none;
            }
        }
    }

    .hero-caption {
        height: 100%;
        left: 50%;
        max-height: $header-hero-height;
        max-width: $header-hero-width;
        padding: $header-hero-caption-padding;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    .hero-caption-item {
        &.is-license {
            right: $header-hero-caption-item-license-right;
            top: $header-hero-caption-item-license-top;
        }
    }
}
