$header-navbar-backdrop-filter: blur(0.25rem) !default;
$header-navbar-background-color: rgba($grey-lighter, 0.75) !default;
$header-navbar-padding: 0.75rem !default;
$header-navbar-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;

.header {
    padding-top: #{2 * $header-navbar-padding};

    .navbar {
        backdrop-filter: $header-navbar-backdrop-filter;
        background-color: $header-navbar-background-color;
        box-shadow: $header-navbar-shadow;
        padding-bottom: $header-navbar-padding;
        padding-top: $header-navbar-padding;
        transition: background-color $speed $easing, padding-bottom $speed $easing, padding-top $speed $easing;

        @include touch {
            background-color: $white;
            padding-bottom: 0;
            padding-top: 0;
        }

        &.is-collapsed {
            background-color: $white;
            padding-bottom: 0;
            padding-top: 0;
        }

        .navbar-link {
            &::after {
                border-color: $text;
                transition: border-color $speed $easing;
            }

            &:hover {
                &::after {
                    border-color: $link;
                }
            }
        }
    }
}
