$header-progress-bottom: -1px !default;
$header-progress-height: 4px !default;

.header {
    .progress {
        bottom: $header-progress-bottom;
        height: $header-progress-height;
        left: 0;
        position: absolute;
        right: 0;
    }
}
