{{- $mappings := "amp-components" | index .Site.Data | default dict -}}
{{- $components := slice . "AMPComponents" | partial "functions/get-merged-params.slice" -}}

<link rel="preload" as="script" href="{{ "amp-core" | index $mappings }}">
<link rel="preload" as="script" href="{{ "amp-experiment" | index $mappings }}">
<link rel="preload" as="script" href="{{ "amp-story" | index $mappings }}">

<link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>

<script src="{{ "amp-core" | index $mappings }}" async></script>

{{ range $components }}
    <script custom-element="{{ . }}" src="{{ . | index $mappings }}" async></script>
{{ end }}
