// =============================================================================
// * Bulma variables
// =============================================================================
$primary: #114488;
$background: $white-ter;
$link: $blue;
$link-hover: $primary;

$family-sans-serif: 'Noto Sans', 'Noto Sans TC', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

$easing: ease-in-out;
$speed: 86ms;

// =============================================================================
// * Bulma layouts / elements / components
// =============================================================================
$body-background-color: $white-ter;
$content-blockquote-background-color: $background !default;
$content-blockquote-border-left: none !default;
$content-blockquote-padding: 1.25em 1.5em !default;
$section-padding: 1.5rem 0;

// =============================================================================
// * Variables
// =============================================================================
$family-brand: 'Audiowide', cursive;
$family-serif: 'Noto Serif', 'Noto Serif TC', serif;
