// =============================================================================
// * Bulma Initial Variables
// =============================================================================
$family-sans-serif: 'Noto Sans', 'Noto Sans TC', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

$easing: ease-in-out;
$speed: 86ms;

// =============================================================================
// * Bulma Derived Variables
// =============================================================================
$primary: #114488;
$background: $white-ter;
$link: $blue;
$link-hover: $primary;
$body-background-color: $white-ter !default;

// =============================================================================
// * Defined Variables
// =============================================================================
$family-brand: 'Audiowide', cursive;
$family-serif: 'Noto Serif', 'Noto Serif TC', serif;
