// =============================================================================
// * Bulma Initial Variables
// =============================================================================
$family-sans-serif: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
$family-monospace: 'Source Code Pro', monospace;
$easing: ease-in-out;
$primary: #114488;
$background: $white-ter;
$link: $blue;
$link-hover: $primary;
$body-background-color: $white-ter;

// =============================================================================
// * Defined Variables
// =============================================================================
$family-brand: 'Audiowide', cursive !default;
$family-serif: 'Noto Serif', 'Noto Serif TC', 'Noto Serif SC', 'Noto Serif JP', 'Noto Serif KR', serif !default;

$size-larger: $size-3 !default;

// =============================================================================
// * Overrided Bulma Variables
// =============================================================================
$family-primary: $family-sans-serif !default;
$family-secondary:$family-serif !default;
$family-code: $family-monospace !default;
