$page-byline-background-color: $background !default;
$page-byline-border-color: $primary !default;
$page-byline-border-width: 0.00625rem !default;
$page-byline-item-margin: 0.5rem !default;
$page-byline-left-width: 6rem !default;
$page-byline-location-color: $grey !default;
$page-byline-location-size: $size-small !default;
$page-byline-margin: 1rem !default;
$page-byline-padding: 1.5rem 3rem !default;
$page-byline-right-width: 2rem !default;
$page-byline-title-color: $grey !default;
$page-byline-title-size: $size-normal !default;

.page-byline {
    @include block;
    @include page-fullwidth-block;

    background-color: $page-byline-background-color;
    border-bottom: $page-byline-border-width solid $page-byline-border-color;
    border-top: $page-byline-border-width solid $page-byline-border-color;
    padding: $page-byline-padding;
}

.byline {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.byline-left,
.byline-right {
    flex-grow: 0;
    flex-shrink: 0;
}

.byline-left {
    flex-basis: $page-byline-left-width;
    margin-right: $page-byline-margin;
}

.byline-right {
    flex-basis: $page-byline-right-width;
    margin-left: $page-byline-margin;
}

.byline-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.byline-item {
    display: flex;

    &:last-child {
        margin-top: auto;
    }

    &:not(:last-child) {
        margin-bottom: $page-byline-item-margin;
    }

    &.is-vertical {
        flex-direction: column;
    }
}

.byline-heading {
    font-weight: $weight-bold;

    &:not(:last-child) {
        margin-right: $page-byline-item-margin;
    }
}

.byline-location {
    color: $page-byline-location-color;
    font-size: $page-byline-location-size;
    text-align: center;
    white-space: nowrap;
}

.byline-title {
    color: $page-byline-title-color;
    font-size: $page-byline-title-size;
}
