.page-byline {
    @include block;
    @include page-fullwidth-block;

    background-color: $page-byline-background-color;
    border-bottom: $page-byline-border-width solid $page-byline-border-color;
    border-top: $page-byline-border-width solid $page-byline-border-color;
    padding: $page-byline-padding;
}

.byline {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.byline-left,
.byline-right {
    flex-grow: 0;
    flex-shrink: 0;
}

.byline-left {
    flex-basis: $page-byline-left-width;
    margin-right: $page-byline-margin;
}

.byline-right {
    flex-basis: $page-byline-right-width;
    margin-left: $page-byline-margin;
}

.byline-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.byline-item {
    display: flex;

    &:last-child {
        margin-top: auto;
    }

    &:not(:last-child) {
        margin-bottom: $page-byline-item-margin;
    }

    &.is-vertical {
        flex-direction: column;
    }
}

.byline-heading {
    font-weight: $weight-bold;

    &:not(:last-child) {
        margin-right: $page-byline-item-margin;
    }
}
