$page-blockquote-border-color: $primary !default;
$page-blockquote-border-width: 0.00625rem !default;
$page-blockquote-quotation-dimension: 3rem !default;
$page-blockquote-quotation-horizontal-offset: 0.5rem !default;
$page-blockquote-quotation-vertical-offset: 0.125rem !default;
$page-external-icon-dimension: 1rem !default;
$page-external-icon-margin: 0 0.25rem !default;
$page-external-margin: 0 1.25rem 0 0 !default;

.page-content {
    a {
        &[rel~="external"] {
            margin: $page-external-margin;
            position: relative;

            &:hover {
                color: $link;
                text-decoration: underline;
            }

            &::after {
                background-image: svg-load('images/open-in-new.svg', fill=$link);
                background-position: center;
                background-repeat: no-repeat;
                background-size: $page-external-icon-dimension $page-external-icon-dimension;
                content: '';
                display: inline-block;
                height: $page-external-icon-dimension;
                margin: $page-external-icon-margin;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: $page-external-icon-dimension;
            }
        }
    }

    blockquote {
        @include page-fullwidth-block;

        border-bottom: $page-blockquote-border-width solid $page-blockquote-border-color;
        border-left: 0;
        border-top: $page-blockquote-border-width solid $page-blockquote-border-color;
        position: relative;

        &::after,
        &::before {
            background-position: center;
            background-repeat: no-repeat;
            background-size: $page-blockquote-quotation-dimension $page-blockquote-quotation-dimension;
            content: '';
            display: block;
            height: $page-blockquote-quotation-dimension;
            position: absolute;
            width: $page-blockquote-quotation-dimension;
        }

        &::before {
            background-image: svg-load('images/format-quote-open.svg', fill=$primary), linear-gradient($content-blockquote-background-color, $content-blockquote-background-color calc(50% + #{$page-blockquote-quotation-vertical-offset + $page-blockquote-border-width}), $page-background-color calc(50% + #{$page-blockquote-quotation-vertical-offset + $page-blockquote-border-width}), $page-background-color);
            bottom: $page-blockquote-quotation-vertical-offset;
            left: $page-blockquote-quotation-horizontal-offset;
            transform: translateY(50%);
        }

        &::after {
            background-image: svg-load('images/format-quote-close.svg', fill=$primary), linear-gradient($page-background-color, $page-background-color calc(50% - #{$page-blockquote-quotation-vertical-offset + $page-blockquote-border-width}), $content-blockquote-background-color calc(50% - #{$page-blockquote-quotation-vertical-offset + $page-blockquote-border-width}), $content-blockquote-background-color);
            right: $page-blockquote-quotation-horizontal-offset;
            top: $page-blockquote-quotation-vertical-offset;
            transform: translateY(-50%);
        }
    }

    .expandable-summary {
        @include page-fullwidth-block;
    }

    .hero {
        @include block;
        @include page-fullwidth-block;

        figure {
            margin: 0;
        }

        figcaption {
            font-style: normal;
        }
    }

    .highlight {
        @include page-fullwidth-block;
    }
}
