$page-heading-link-margin: 0 0.5rem !default;

$page-heading-icon-dimension: 1.25rem !default;

.page-heading {
    position: relative;

    &:hover {
        .page-heading-link {
            opacity: 1;
        }
    }
}

.page-heading-link {
    background-image: svg-load('images/link.svg', fill=$link-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $page-heading-icon-dimension $page-heading-icon-dimension;
    display: inline-block;
    height: $page-heading-icon-dimension;
    margin: $page-heading-link-margin;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity $speed $easing;
    width: $page-heading-icon-dimension;
}
