$page-meta-icon-margin: 0.5rem !default;
$page-meta-item-margin: 1.5rem !default;
$page-meta-item-touch-margin: 0.5rem !default;

.page-meta {
    @include block;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include desktop {
        align-items: center;
        flex-direction: row;
    }
}

.page-meta-item {
    display: flex;

    @include touch {
        &:not(:last-child) {
            margin-bottom: $page-meta-item-touch-margin;
        }
    }

    @include desktop {
        &:last-child {
            margin-left: auto;
        }

        &:not(:last-child) {
            margin-right: $page-meta-item-margin;
        }

        & > .icon {
            margin-right: $page-meta-icon-margin;
        }
    }
}
