$page-meta-icon-margin: 0.5rem !default;
$page-meta-item-margin: 1.5rem !default;

.page-meta {
    @include block;

    align-items: center;
    display: flex;
}

.page-meta-item {
    display: flex;

    &:last-child {
        margin-left: auto;
    }

    &:not(:last-child) {
        margin-right: $page-meta-item-margin;
    }

    & > .icon {
        margin-right: $page-meta-icon-margin;
    }
}
