$page-card-foot-height: 1.5rem !default;
$page-card-hero-height: calc(100% * 15 / 21) !default;
$page-card-hero-hover-height: calc(100% * 9 / 21) !default;
$page-card-no-hero-padding: 0.5rem !default;

.page {
    &.is-card {
        display: flex;
        flex-direction: column;

        &.has-hero {
            @if $amp {
                .page-body {
                    padding-bottom: #{$page-card-hero-height - $page-card-hero-hover-height};
                }
            }

            @if not $amp {
                &:hover,
                &.is-hovered {
                    .hero-item {
                        padding-top: $page-card-hero-hover-height;
                    }

                    .page-body {
                        opacity: 1;
                        padding-bottom: #{$page-card-hero-height - $page-card-hero-hover-height};
                    }
                }

                .page-body {
                    height: 0;
                    opacity: 0;
                }
            }

            .page-foot {
                &::before {
                    background-image: linear-gradient(0deg, $page-background-color 0%, transparent 100%);
                    content: '';
                    display: block;
                    height: $page-card-foot-height;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateY(-100%);
                }
            }
        }

        &:not(.has-hero) {
            .page-hero {
                padding: $page-card-no-hero-padding;
            }
        }

        .page-body {
            overflow: hidden;

            @if not $amp {
                transition: opacity $speed $easing, padding-bottom $speed $easing;
            }
        }

        .page-foot {
            margin-top: auto;
        }

        .hero-item {
            @if $amp {
                padding-top: $page-card-hero-hover-height;
            }

            @if not $amp {
                padding-top: $page-card-hero-height;
                transition: padding-top $speed $easing;
            }

            .image {
                height: 100%;
            }

            @if $amp {
                amp-img {
                    height: 100%;
                    max-width: unset;
                }
            }

            @if not $amp {
                img {
                    height: 100%;
                    max-width: unset;
                }
            }
        }

        .hero-caption {
            display: none;
        }

        @if not $amp {
            @include desktop {
                .button {
                    &.is-permalink {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
