$page-summary-hero-minimum-height: 20rem !default;

.page {
    &.is-summary {
        @include block-hover-shadow;

        @if not $amp {
            &:hover {
                .hero-image {
                    img {
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .hero {
            background-color: $green;

            &.is-3by1 {
                .hero-item {
                    min-height: #{1.5 * $page-summary-hero-minimum-height};
                }
            }
        }

        .hero-item {
            min-height: $page-summary-hero-minimum-height;
        }

        .hero-image {
            img {
                left: 50%;
                max-width: unset;
                position: relative;
                transform: translateX(-50%);
                width: auto;

                @if not $amp {
                    transform: translateX(-50%) scale(1.15);
                    transition: transform $speed $easing;
                }
            }

            .image {
                height: 100%;
                padding-top: 0;
            }
        }

        @if not $amp {
            @include desktop {
                .button {
                    &.is-permalink {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
