.page {
    @include block;
    @include block-shadow;

    background-color: $page-background-color;

    @include mobile {
        .page-date {
            margin-top: #{-1 * $page-padding};
        }
    }
}

.page-head,
.page-body,
.page-foot {
    padding: $page-padding;
    position: relative;
}

.page-body {
    padding-bottom: 0;
    padding-top: 0;
}
