$page-banner-category-padding: 0.5rem !default;
$page-banner-link-background-color: $primary !default;
$page-banner-link-dimension: 4rem !default;
$page-banner-link-hover-offset: 0.25rem !default;
$page-banner-link-right: 1.5rem !default;
$page-banner-no-hero-head-padding-right: 7rem !default;
$page-banner-no-hero-link-top: 3.5rem !default;
$page-banner-no-hero-padding: 0.5rem !default;

.page {
    &.is-banner {
        &:not(.has-hero) {
            .page-hero {
                padding: $page-banner-no-hero-padding;
            }

            .page-head {
                padding-right: $page-banner-no-hero-head-padding-right;
            }

            .button {
                &.is-permalink {
                    top: $page-banner-no-hero-link-top;
                }
            }
        }

        .page-category {
            @include overlay;

            padding: $page-banner-category-padding;

            .tags {
                justify-content: flex-end;
            }
        }

        .hero-caption {
            display: none;
        }

        .button {
            &.is-permalink {
                @include block-shadow;
                @include block-hover-shadow;

                background-color: $page-banner-link-background-color;
                border-radius: 50%;
                border: 0;
                height: $page-banner-link-dimension;
                padding: 0;
                position: absolute;
                right: $page-banner-link-right;
                top: 0;
                transform: translateY(-50%);
                width: $page-banner-link-dimension;

                .icon {
                    height: $page-banner-link-dimension;
                    width: $page-banner-link-dimension;

                    svg {
                        transition: transform $speed $easing;
                    }

                    path {
                        fill: findColorInvert($page-banner-link-background-color);
                    }

                    &:hover,
                    &.is-hovered {
                        svg {
                            transform: translateX($page-banner-link-hover-offset);
                        }
                    }
                }
            }
        }
    }
}
