$page-pagination-item-background-color: $white !default;
$page-pagination-item-gap: 0.25rem !default;
$page-pagination-item-icon-color: $text !default;
$page-pagination-item-icon-dimension: 4rem !default;
$page-pagination-item-icon-hover-color: $link-hover !default;
$page-pagination-item-icon-hover-offset: 0.5rem !default;

.page-pagination {
    @include block;

    .pagination-item {
        @include block-shadow;

        background-color: $page-pagination-item-background-color;
        border-radius: 0;
        display: grid;
        flex-basis: calc(50% - #{$page-pagination-item-gap * 2});
        grid-template-areas: 'icon subtitle' 'icon title';
        grid-template-columns: $page-pagination-item-icon-dimension 1fr;
        grid-template-rows: auto auto;

        &:hover {
            .icon {
                svg {
                    fill: $page-pagination-item-icon-hover-color;
                    transform: translateX(#{-1 * $page-pagination-item-icon-hover-offset});
                }
            }

            &.pagination-next {
                .icon {
                    svg {
                        transform: translateX($page-pagination-item-icon-hover-offset);
                    }
                }
            }
        }

        &.pagination-next {
            grid-template-areas: 'subtitle icon' 'title icon';
            grid-template-columns: 1fr $page-pagination-item-icon-dimension;
        }

        .icon {
            grid-area: icon;
            height: $page-pagination-item-icon-dimension;
            width: $page-pagination-item-icon-dimension;

            svg {
                fill: $page-pagination-item-icon-color;
                transition: fill $speed $easing, transform $speed $easing;
            }
        }

        .title {
            grid-area: title;
        }

        .subtitle {
            grid-area: subtitle;
        }
    }
}
