.page-relation {
    @include block;

    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .page {
        flex-basis: 100%;
        margin: 0 auto;
        position: relative;

        @include touch {
            &:not(:last-child) {
                margin-bottom: $page-relation-item-gap;
            }
        }

        @include desktop {
            flex-basis: calc(100% / 3 - #{2 * $page-relation-item-gap});
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
