$page-relation-item-gap: 0.25rem !default;

.page-relation {
    @include block;

    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .page {
        flex-basis: 100%;
        position: relative;

        @if $amp {
            &:not(:last-child) {
                margin-bottom: $page-relation-item-gap;
            }
        }

        @if not $amp {
            margin: 0 auto;

            @include touch {
                &:not(:last-child) {
                    margin-bottom: $page-relation-item-gap;
                }
            }

            @include desktop {
                flex-basis: calc(100% / 3 - #{2 * $page-relation-item-gap});
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
