$page-relation-hero-height: 100% * 9 / 21 !default;
$page-relation-link-dimension: 4rem !default;
$page-relation-link-hover-offset: 0.25rem !default;
$page-relation-margin: 0 0.5rem !default;
$page-relation-padding: 1.5rem !default;

.page-relation {
    @include block;

    align-items: stretch;
    display: flex;
    justify-content: space-between;

    .page {
        flex-basis: calc(100% / 3);
        margin: $page-relation-margin;
        padding: 0;
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .page-hero {
        padding-top: $page-relation-hero-height;
    }

    .page-head {
        @include overlay;

        display: grid;
        grid-template-areas: ". ." "title button" "subtitle button";
        grid-template-columns: auto #{$page-relation-padding + $page-relation-link-dimension};
        grid-template-rows: 1fr auto 0;
        padding: $page-relation-padding;

        .button {
            margin-left: $page-relation-padding;
        }

        .title,
        .subtitle {
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title {
            grid-area: title;
        }

        .subtitle {
            grid-area: subtitle;
        }
    }

    .is-permalink {
        @include block-shadow;
        @include block-hover-shadow;

        background-color: $primary;
        border-radius: 50%;
        grid-area: button;
        height: $page-relation-link-dimension;
        padding: 0;
        width: $page-relation-link-dimension;

        .icon {
            height: $page-relation-link-dimension;
            width: $page-relation-link-dimension;

            svg {
                transition: transform $speed $easing;
            }

            path {
                fill: findColorInvert($primary);
            }

            &:hover,
            &.is-hovered {
                svg {
                    transform: translateX($page-relation-link-hover-offset);
                }
            }
        }
    }
}
