.page-series {
    @include block;

    .head {
        font-size: $size-medium;
        font-weight: $weight-bold;
    }

    .list {
        padding: $page-series-padding;

        .is-active {
            font-weight: $weight-bold;
        }
    }
}
