$page-series-list-item-background-color: $primary !default;
$page-series-list-item-color: $white !default;
$page-series-list-item-dimension: 1.5rem !default;
$page-series-list-item-radius: $radius !default;
$page-series-list-padding: 0.25rem 0 !default;
$page-series-padding: 0.5rem 2.5rem !default;

.page-series {
    @include block;

    .head {
        font-size: $size-medium;
        font-weight: $weight-bold;
    }

    .list {
        counter-reset: series;
        list-style: none;
        padding: $page-series-padding;

        li {
            padding: $page-series-list-padding;
            position: relative;

            &::before {
                align-items: center;
                background-color: $page-series-list-item-background-color;
                border-radius: $page-series-list-item-radius;
                color: $page-series-list-item-color;
                content: counter(series);
                counter-increment: series;
                display: flex;
                font-weight: $weight-bold;
                height: $page-series-list-item-dimension;
                justify-content: center;
                position: absolute;
                right: 100%;
                top: 50%;
                transform: translate(-0.5rem, -50%);
                width: $page-series-list-item-dimension;
            }
        }

        .is-active {
            font-weight: $weight-bold;
        }
    }
}
