$page-share-background-color: $white !default;
$page-share-border-color: $grey-lighter !default;
$page-share-border-width: 1px !default;
$page-share-brand-background-color: $primary !default;
$page-share-brand-color: $white !default;
$page-share-item-fixed-dimension: 2.5rem !default;
$page-share-item-fixed-padding: 0.25rem !default;

.page-share {
    @include block;

    @if not $amp {
        &.is-fixed-left {
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateX(-100%);

            .page-share-items {
                border: $page-share-border-width solid $page-share-border-color;
                border-right: 0;
                bottom: 0;
                flex-direction: column;
                position: sticky;
                top: 5rem;
            }

            .page-share-item {
                padding: $page-share-item-fixed-padding;

                &:first-child {
                    display: block;
                    padding: 0;
                }
            }

            .icon {
                height: $page-share-item-fixed-dimension;
                width: $page-share-item-fixed-dimension;
            }
        }

        &.is-collapsed {
            .page-share-item {
                &:first-child {
                    padding-top: #{$page-share-item-fixed-dimension + 2 * $page-share-item-fixed-padding};
                }
            }
        }
    }
}

.page-share-items {
    align-items: center;
    background-color: $page-share-background-color;
    display: flex;
    justify-content: center;
}

.page-share-item {
    align-items: center;
    display: flex;
    justify-content: center;

    &:first-child {
        display: none;
        overflow: hidden;
        position: relative;
        width: 100%;

        @if not $amp {
            transition: padding-top $speed $easing;
        }
    }
}

.page-share-brand {
    @if not $amp {
        @include unselectable;

        align-items: center;
        background-color: $page-share-brand-background-color;
        bottom: 0;
        color: $page-share-brand-color;
        display: flex;
        font-family: $family-brand;
        font-size: $size-large;
        height: #{$page-share-item-fixed-dimension + 2 * $page-share-item-fixed-padding};
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: #{$page-share-item-fixed-dimension + 2 * $page-share-item-fixed-padding};
    }
}
