{{- slice . "amp-analytics" | partial "functions/is-amp-component-loaded.error" -}}

{{- $features := slice . "features" | partial "functions/get-merged-configs.dict" -}}

{{- $configurations := slice . "google-analytics" | partial "functions/get-merged-configs.dict" -}}

{{- $consentNotificationId := "user-consent-notification" | index $features -}}

<amp-analytics
    type="gtag"
    {{ with $consentNotificationId }}data-block-on-consent{{ end }}
>
    <script type="application/json">
        {
            "vars": {
                "gtag_id": "{{ .Site.Config.Services.GoogleAnalytics.ID }}",
                "config": {
                    "{{ .Site.Config.Services.GoogleAnalytics.ID }}": {
                        "groups": "default"
                    }
                }
            },
            "triggers" : {{ "amp-analytics-triggers" | index $configurations | jsonify | safeJS }}
        }
    </script>
</amp-analytics>
