{{- slice . "amp-analytics" | partial "functions/is-amp-component-loaded.error" -}}

{{- $triggers := slice . "amp-analytics-triggers" | partial "functions/get-merged-configs.dict" -}}

<amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
        {
            "vars": {
                "gtag_id": "{{ .Site.Config.Services.GoogleAnalytics.ID }}",
                "config": {
                    "{{ .Site.Config.Services.GoogleAnalytics.ID }}": {
                        "groups": "default"
                    }
                }
            },
            "triggers" : {{ $triggers | jsonify | safeJS }}
        }
    </script>
</amp-analytics>
