
{{ define "main" }}
    {{- $pages := .Site.Params.mainSections | where .Site.Pages "Section" "in" -}}

    <section class="section">
        <article class="page is-archive">
            <div class="page-head">
                <h1 class="title">{{ .Title }}</h1>

                {{ partial "components/layouts/html-breadcrumb.html" . }}

                {{ if "advertisement" | .Param }}
                    {{ with slice . | partial "components/renderers/advertisement.html" }}
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>

            <div class="page-body">
                <form class="form term-filter-form" action="#">
                    <input class="input term-filter-input" type="text" name="filter" autofocus>
                </form>

                {{ with .Content }}
                    <div class="page-content content">
                        {{ . }}
                    </div>
                {{ end }}

                <div class="archive-content">
                    {{ range $pages.GroupByDate "2006" }}
                        {{- $year := (index .Pages 0).Date -}}

                        <div class="term-box">
                            <h2 class="term-heading is-year">
                                {{ slice $year | partial "functions/format-year.txt" }}
                            </h2>

                            {{ range .Pages.GroupByDate "01-January" }}
                                {{- $month := (index .Pages 0).Date -}}

                                <div class="term-group">
                                    <h3 class="term-heading is-month">
                                        {{ slice $month | partial "functions/format-month.txt" }}
                                    </h3>

                                    <ul class="term-list">
                                        {{ range .Pages.ByDate }}
                                            <li class="term-item" data-term="{{ slice .Date "20060102" | partial "functions/format-date.txt"  }}">
                                                <a class="term-link" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                                            </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>

            {{ if "advertisement" | .Param }}
                {{ with slice . | partial "components/renderers/advertisement.html" }}
                    <div class="page-foot">
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </article>
    </section>
{{ end }}
