<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}{{ end }}</title>

    {{ partial "segments/head/meta" . }}
    {{ partial "segments/head/opengraph" . }}
    {{ partial "segments/head/links" . }}
    {{ partial "segments/head/fonts" . }}
    {{ partial "segments/html/styles" . }}
    {{ partial "segments/head/schema" . }}
    {{ partial "segments/html/modules" . }}
</head>

<body class="has-navbar-fixed-top">
    {{ partial "segments/html/prologue" . }}

    {{ block "header" . }}{{ partial "segments/html/header" . }}{{ end }}

    <main class="main" role="main">
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    <div class="back-to-top">
        <span class="icon icon-top">
            {{ partial "images/chevron-up.svg" . }}
        </span>
    </div>

    {{ block "footer" . }}{{ partial "segments/html/footer" . }}{{ end }}

    {{ partial "segments/html/scripts" . }}

    {{ partial "segments/html/epilogue" . }}
</body>
</html>
