<!DOCTYPE html>
<html amp lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ slice . | partial "functions/get-page-title.txt" | safeHTML }}{{ end }}</title>

    {{ block "meta" . }}{{ partial "layouts/meta.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partial "layouts/amp-scripts.html" . }}{{ end }}
    {{ block "styles" . }}{{ partial "layouts/amp-styles.html" . }}{{ end }}
    {{ block "fonts" . }}{{ partial "layouts/fonts.html" . }}{{ end }}
    {{ block "boilerplate" . }}{{ partial "layouts/amp-boilerplate.html" . }}{{ end }}
    {{ block "opengraph" . }}{{ partial "layouts/opengraph.html" . }}{{ end }}
    {{ block "links" . }}{{ partial "layouts/links.html" . }}{{ end }}
    {{ block "schema" . }}{{ partial "layouts/schema.html" . }}{{ end }}
</head>

<body class="has-navbar-fixed-top">
    {{ block "prologue" . }}{{ partial "layouts/amp-prologue.html" . }}{{ end }}

    {{ block "header" . }}{{ partial "layouts/amp-header.html" . }}{{ end }}

    {{ block "body" . }}
        <main class="main" role="main">
            <div class="container">
                {{ block "main" . }}{{ end }}
            </div>
        </main>
    {{ end }}

    {{ block "footer" . }}{{ partial "layouts/amp-footer.html" . }}{{ end }}

    {{ block "epilogue" . }}{{ partial "layouts/amp-epilogue.html" . }}{{ end }}
</body>
</html>
