<!DOCTYPE html>
<html amp lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}{{ end }}</title>

    {{ partial "site/head/meta" . }}
    {{ partial "site/head/opengraph" . }}
    {{ partial "site/head/links" . }}
    {{ partial "site/amp/scripts" . }}
    {{ partial "site/amp/styles" . }}
    {{ partial "site/head/fonts" . }}
    {{ partial "site/amp/boilerplate" . }}
    {{ partial "site/head/schema" . }}
</head>

<body class="has-navbar-fixed-top">
    {{ partial "site/amp/prologue" . }}

    {{ block "header" . }}{{ partial "site/amp/header" . }}{{ end }}

    <main class="main" role="main">
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    {{ block "footer" . }}{{ partial "site/amp/footer" . }}{{ end }}

    {{ partial "site/amp/epilogue" . }}
</body>
</html>
