<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}{{ end }}</title>

    {{ partial "site/head/meta" . }}
    {{ partial "site/head/opengraph" . }}
    {{ partial "site/head/links" . }}
    {{ partial "site/head/fonts" . }}
    {{ partial "site/html/styles" . }}
    {{ partial "site/head/schema" . }}
    {{ partial "site/html/modules" . }}
</head>

<body>
    {{ partial "site/html/prologue" . }}

    {{ block "header" . }}{{ partial "site/html/header" . }}{{ end }}

    <main class="main" role="main">
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    <div class="back-to-top">
        <span class="icon icon-top"></span>
    </div>

    {{ block "footer" . }}{{ partial "site/html/footer" . }}{{ end }}

    {{ partial "site/html/scripts" . }}

    {{ partial "site/html/epilogue" . }}
</body>
</html>
