{{ define "main" }}
    {{- $paginator := .Site.Params.mainSections | where .Site.RegularPages "Section" "in" | .Paginate -}}

    {{ with .Content }}
        <section class="section">
            <div class="home-content content">
                {{ . }}
            </div>
        </section>
    {{ end }}

    <section class="section">
        {{ if "advertisement" | .Param }}
            {{ with slice . | partial "components/renderers/advertisement.html" }}
                <div class="home-advertisement">
                    {{ . }}
                </div>
            {{ end }}
        {{ end }}

        {{ range $paginator.Pages }}
            {{ partial "components/sections/summary.html" . }}
        {{ end }}

        {{ partial "components/layouts/html-pagination.html" . }}
    </section>
{{ end }}
