{{ define "main" }}
    {{- $paginator := .Site.Params.mainSections | where .Pages "Section" "in" | .Paginate -}}

    {{ with .Content }}
        <section class="section">
            <div class="home-content content">
                {{ . }}
            </div>
        </section>
    {{ end }}

    <section class="section">
        {{ if "advertisement" | .Param }}
            <div class="home-advertisement">
                {{ slice . | partial "components/renderers/advertisement.html" }}
            </div>
        {{ end }}

        {{ range $paginator.Pages }}
            {{ partial "components/sections/summary.html" . }}
        {{ end }}

        {{ partial "components/layouts/amp-pagination.html" . }}
    </section>
{{ end }}
