{{ define "main" }}
    <section class="section">
        {{ partial "components/layouts/html-breadcrumb.html" . }}

        {{ with .Content }}
            <section class="section">
                <div class="list-content content">
                    {{ . }}
                </div>
            </section>
        {{ end }}

        {{ range .Paginator.Pages }}
            {{ partial "components/sections/html-summary.html" . }}
        {{ end }}

        {{ partial "components/layouts/html-pagination.html" . }}
    </section>
{{ end }}
