{{ define "main" }}
    <section class="section">
        {{ with .Title }}
            <h1 class="title">{{ . }}</h1>
        {{ end }}

        {{ with .Content }}
            <div class="list-content content">
                {{ . }}
            </div>
        {{ end }}

        {{ if "advertisement" | .Param }}
            {{ with slice . | partial "components/renderers/advertisement.html" }}
                <div class="list-advertisement">
                    {{ . }}
                </div>
            {{ end }}
        {{ end }}

        {{ range .Paginator.Pages }}
            {{ partial "components/sections/summary.html" . }}
        {{ end }}

        {{ partial "components/layouts/html-pagination.html" . }}
    </section>
{{ end }}
