{{ define "main" }}
    <section class="section">
        <article class="page is-single">
            <div class="page-head">
                <div class="page-headline">
                    <h1 class="title">{{ .Title }}</h1>
                </div>

                {{ if "advertisement" | .Param }}
                    {{ with slice . | partial "components/renderers/advertisement.html" }}
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>

            {{ with .Content }}
                <div class="page-body">
                    <div class="page-content content">
                        {{ . }}
                    </div>
                </div>
            {{ end }}

            <div class="page-foot">
                {{ if "advertisement" | .Param }}
                    {{ with slice . | partial "components/renderers/advertisement.html" }}
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </article>

        {{ partial "components/sections/comment.html" . }}
    </section>
{{ end }}
