{{ define "main" }}
    {{- $paginator := .Pages | .Paginate -}}

    <section class="section">
        <article class="page is-taxonomy">
            <div class="page-head">
                <h1 class="title">{{ .Title }}</h1>

                {{ partial "components/layouts/html-breadcrumb.html" . }}
            </div>

            {{ with .Content }}
                <div class="page-body">
                    <div class="page-content content">
                        {{ . }}
                    </div>
                </div>
            {{ end }}

            {{ if "advertisement" | .Param }}
                <div class="page-foot">
                    <div class="list-advertisement">
                        {{ slice . | partial "components/renderers/advertisement.html" }}
                    </div>
                </div>
            {{ end }}
        </article>

        {{ range $paginator.Pages }}
            {{ partial "components/sections/summary.html" . }}
        {{ end }}

        {{ partial "components/layouts/html-pagination.html" . }}
    </section>
{{ end }}
