{{ define "main" }}
    <section class="section">
        <article class="page is-single">
            <div class="page-head">
                <div class="page-breadcrumb">
                    {{ partial "components/layouts/amp-breadcrumb.html" . }}
                </div>

                <div class="page-headline">
                    <h1 class="title">{{ .Title }}</h1>
                </div>

                {{ if "advertisement" | .Param }}
                    <div class="page-advertisement">
                        {{ partial "components/wrappers/amp-advertisement.html" . }}
                    </div>
                {{ end }}
            </div>

            <div class="page-body">
                {{ with .Content }}
                    <div class="page-content content">
                        {{ . }}
                    </div>
                {{ end }}

                <div class="taxonomy-content content">
                    <ul>
                        {{ range .Pages }}
                            <li>
                                <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>

            <div class="page-foot">
                {{ if "advertisement" | .Param }}
                    <div class="page-advertisement">
                        {{ partial "components/wrappers/amp-advertisement.html" . }}
                    </div>
                {{ end }}
            </div>
        </article>
    </section>
{{ end }}
