{{ define "main" }}
    {{- $taxonomy := .Type -}}

    <section class="section">
        <article class="page is-term">
            <div class="page-head">
                <h1 class="title">{{ .Title }}</h1>

                {{ partial "components/layouts/amp-breadcrumb.html" . }}

                {{ if "advertisement" | .Param }}
                    {{ with slice . | partial "components/renderers/advertisement.html" }}
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>

            <div class="page-body">
                {{ with .Content }}
                    <div class="page-content content">
                        {{ . }}
                    </div>
                {{ end }}

                <div class="term-content">
                    {{ range .Data.Terms.ByCount }}
                        <div class="term-box" data-term="{{ .Name | lower }}">
                            <h2 class="term-heading">
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy .Name) }}
                                    <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                                {{ end }}
                                <span class="term-count">({{ .Count }})</span>
                            </h2>
                            <ul class="term-list">
                                {{ range .Pages.ByDate }}
                                    <li class="term-item">
                                        <span class="term-date">
                                            {{ .Date | slice | partial "components/renderers/date.html" }}
                                        </span>
                                        <a class="term-link" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                </div>
            </div>

            {{ if "advertisement" | .Param }}
                {{ with slice . | partial "components/renderers/advertisement.html" }}
                    <div class="page-foot">
                        <div class="page-advertisement">
                            {{ . }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </article>
    </section>
{{ end }}
