@import 'styles/sections/header';

.header {
    .navbar {
        box-shadow: $header-navbar-shadow;
    }
}

.header-hero {
    .hero {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: $header-hero-width;
    }

    .hero-item {
        &::after {
            @include overlay;

            box-shadow: $header-hero-box-shadow;
            content: '';
            pointer-events: none;
        }
    }

    .hero-caption {
        height: 100%;
        left: 50%;
        max-height: $header-hero-height;
        max-width: $header-hero-width;
        padding: $header-hero-caption-padding;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    .hero-caption-item {
        &.is-license {
            right: $header-hero-caption-item-license-right;
            top: $header-hero-caption-item-license-top;
        }
    }
}
