@import 'styles/sections/page';
@import 'styles/sections/page/advertisement';
@import 'styles/sections/page/byline';
@import 'styles/sections/page/category';
@import 'styles/sections/page/comment';
@import 'styles/sections/page/content';
@import 'styles/sections/page/image';
@import 'styles/sections/page/message';
@import 'styles/sections/page/page';
@import 'styles/sections/page/series';

.page {
    &.is-banner {
        &:not(.has-hero) {
            .page-hero {
                padding: $page-banner-no-hero-padding;
            }

            .page-head {
                padding-right: $page-banner-no-hero-head-padding-right;
            }

            .button {
                &.is-permalink {
                    top: $page-banner-no-hero-link-top;
                }
            }
        }

        .page-category {
            @include overlay;

            padding: $page-banner-category-padding;

            .tags {
                justify-content: flex-end;
            }
        }

        .hero-caption {
            display: none;
        }

        .button {
            &.is-permalink {
                @include block-shadow;
                @include block-hover-shadow;

                background-color: $page-banner-link-background-color;
                border-radius: 50%;
                border: 0;
                height: $page-banner-link-dimension;
                padding: 0;
                position: absolute;
                right: $page-banner-link-right;
                top: 0;
                transform: translateY(-50%);
                width: $page-banner-link-dimension;

                .icon {
                    height: $page-banner-link-dimension;
                    width: $page-banner-link-dimension;

                    path {
                        fill: findColorInvert($page-banner-link-background-color);
                    }
                }
            }
        }
    }

    &.is-card {
        display: flex;
        flex-direction: column;

        &.has-hero {
            .page-body {
                padding-bottom: #{$page-card-hero-height - $page-card-hero-hover-height};
            }

            .page-foot {
                &::before {
                    background-image: linear-gradient(0deg, $page-background-color 0%, transparent 100%);
                    content: '';
                    display: block;
                    height: $page-card-foot-height;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateY(-100%);
                }
            }
        }

        &:not(.has-hero) {
            .page-hero {
                padding: $page-card-no-hero-padding;
            }
        }

        .page-body {
            overflow: hidden;
        }

        .page-foot {
            margin-top: auto;
        }

        .page-category {
            @include overlay;

            padding: $page-banner-category-padding;

            .tags {
                justify-content: flex-end;
            }
        }

        .hero-item {
            padding-top: $page-card-hero-hover-height;

            .image {
                height: 100%;
            }

            img {
                height: 100%;
                max-width: unset;
            }
        }

        .hero-caption {
            display: none;
        }

        .button {
            &.is-permalink {
                margin-left: auto;
            }
        }
    }

    &.is-series {
        border-radius: $page-series-radius;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        text-shadow: $page-series-text-shadow;

        &:not(.has-hero) {
            background-image: $page-series-no-hero-background-image;
        }

        &::before {
            @include overlay;

            backdrop-filter: $page-series-overlay-backdrop-filter;
            background-color: $page-series-overlay-background-color;
            background-image: $page-series-overlay-background-image;
            content: '';
            display: block;
            transition: background-color $speed $easing;
            z-index: $page-series-overlay-z;
        }

        a {
            color: $page-series-link-color;
        }

        .page-hero {
            @include overlay;

            overflow: hidden;
            z-index: $page-series-hero-z;
        }

        .hero,
        .hero-item {
            height: 100%;
        }

        .hero-item {
            padding-top: 0;

            .image {
                height: 100%;
            }

            img {
                height: 100%;
                max-width: unset;
            }
        }

        .hero-caption {
            display: none;
        }

        .title {
            color: $page-series-title-color;
        }

        .subtitle {
            color: $page-series-subtitle-color;
        }

        .page-head,
        .page-body,
        .page-foot {
            z-index: $page-series-z;
        }

        .page-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            a {
                margin: $page-series-link-margin;
                padding: $page-series-link-padding;

                &:hover {
                    text-decoration: underline;
                }

                &:not(:last-child) {
                    border-bottom: $page-series-link-border;
                }
            }
        }

        .page-foot {
            margin-top: auto;
        }
    }

    &.is-summary {
        @include block-hover-shadow;

        .hero {
            background-color: $green;

            &.is-3by1 {
                .hero-item {
                    min-height: #{1.5 * $page-summary-hero-minimum-height};
                }
            }
        }

        .hero-item {
            min-height: $page-summary-hero-minimum-height;
        }

        .hero-image {
            img {
                left: 50%;
                max-width: unset;
                position: relative;
                transform: translateX(-50%) scale(1.15);
                transition: transform $speed $easing;
                width: auto;
            }

            .image {
                height: 100%;
                padding-top: 0;
            }
        }

        &:hover {
            .hero-image {
                img {
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.page-date {
    @include block;
    @include page-fullwidth-block;

    font-family: $page-date-family;

    time {
        background-color: $page-date-background-color;
        border-bottom: $page-date-border-width solid $page-date-border-color;
        display: grid;
        grid-template-areas: 'date month' 'date year';
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: $page-date-padding;
        text-align: center;
    }

    .date,
    .month,
    .year {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .date,
    .year {
        font-weight: $weight-bold;
    }

    .month,
    .year {
        font-size: $size-normal;
        line-height: $size-normal;
        padding: $page-date-digit-padding-vertical #{$page-date-digit-padding-horizontal * 2};
    }

    .date {
        border-right: $page-date-border-width solid $page-date-border-color;
        font-size: $size-larger;
        grid-area: date;
        line-height: $size-larger;
        padding: #{$page-date-digit-padding-vertical * 2} #{$page-date-digit-padding-horizontal * 2};
    }

    .month {
        grid-area: month;
    }

    .year {
        grid-area: year;
    }
}

.page-meta {
    @include block;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.page-meta-item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: $page-meta-item-touch-margin;
    }
}

.page-pagination {
    @include block;

    .pagination-item {
        @include block-shadow;

        background-color: $page-pagination-item-background-color;
        border-radius: 0;
        display: grid;
        flex-basis: 100%;
        grid-template-areas: 'icon subtitle' 'icon title';
        grid-template-columns: $page-pagination-item-icon-dimension 1fr;
        grid-template-rows: auto auto;
        white-space: normal;

        &.pagination-next {
            grid-template-areas: 'subtitle icon' 'title icon';
            grid-template-columns: 1fr $page-pagination-item-icon-dimension;
        }

        .icon {
            grid-area: icon;
            height: $page-pagination-item-icon-dimension;
            width: $page-pagination-item-icon-dimension;

            svg {
                fill: $page-pagination-item-icon-color;
            }
        }

        .title {
            grid-area: title;
        }

        .subtitle {
            grid-area: subtitle;
        }
    }
}

.page-share {
    @include block;
}

.page-share-items {
    align-items: center;
    background-color: $page-share-background-color;
    display: flex;
    justify-content: center;
}

.page-share-item {
    align-items: center;
    display: flex;
    justify-content: center;

    &:first-child {
        display: none;
        overflow: hidden;
        position: relative;
        transition: padding-top $speed $easing;
        width: 100%;
    }
}
