@import '~bulma/sass/elements/button';

.button {
    transition: border-color $speed $easing, color $speed $easing;

    &.is-rectangle {
        border-radius: unset;
    }

    &.is-permalink {
        font-weight: $weight-bold;
        padding: calc(2em - 1px) calc(2.5rem + 1px);

        &:hover,
        &.is-hovered {
            border-color: $primary;
            color: $primary;
        }
    }

    &.is-next,
    &.is-previous {
        padding: calc(3em - 1px) 2.5em;

        &:hover,
        &.is-hovered {
            border-color: $primary;
            color: $primary;
        }
    }
}
