$content-blockquote-background-color: $background !default;
$content-blockquote-border-left: none !default;
$content-blockquote-padding: 1.25em 1.5em !default;

@import '~bulma/sass/elements/content';
