$icon-brand-dimension: 1.5rem !default;
$icon-search-dimension: 1rem !default;
$icon-top-dimension: 2rem !default;

@import '~bulma/sass/elements/icon';

.icon {
    svg {
        transition: fill $speed $easing;
    }

    &::before,
    &::after {
        transition: opacity $speed $easing;
    }
}

.icon-search {
    @include icon('images/search.svg', $icon-search-dimension);
}

.icon-top {
    @include icon('images/top.svg', $icon-top-dimension);
}

.icon-github {
    @include hoverable-icon('images/github.svg', #4078c0, $icon-brand-dimension);
}

.icon-twitter {
    @include hoverable-icon('images/twitter.svg', #1da1f2, $icon-brand-dimension);
}

.icon-facebook {
    @include hoverable-icon('images/facebook.svg', #3b5998, $icon-brand-dimension);
}

.icon-linkedin {
    @include hoverable-icon('images/linkedin.svg', #0077b5, $icon-brand-dimension);
}

.icon-rss {
    @include hoverable-icon('images/rss.svg', #f26522, $icon-brand-dimension);
}
