$advertisement-background-color: $grey-lighter !default;

.advertisement {
    @include block;

    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement-body {
    background-color: $advertisement-background-color;
    display: flex;
    position: relative;
}
