$avatar-background-color: $grey-darker !default;
$avatar-color: $white-ter !default;
$avatar-box-shadow: 0 0 0 0.125rem $white !default;
$avatar-size: $size-larger !default;

.avatar {
    background-color: $avatar-background-color;
    border-radius: 50%;
    box-shadow: $avatar-box-shadow;
    color: $avatar-color;
    display: block;
    font-size: $avatar-size;
    font-weight: $weight-light;
    padding-top: 100%;
    position: relative;

    &[data-initial] {
        &::before {
            color: currentColor;
            content: attr(data-initial);
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    img {
        @include overlay;

        border-radius: 50%;
    }

    @if $amp {
        amp-img {
            @include overlay;

            border-radius: 50%;
        }
    }
}
