$code-border-width: 0.5rem !default;
$code-color: $white !default;
$code-lang-label-margin: 0 1.5rem !default;
$code-lang-label-padding: 0.25rem 0.75rem !default;
$code-line-number-padding: 0.5rem !default;

$code-color-base00: #2B303B !default; // Default Background
$code-color-base01: #343D46 !default; // Lighter Background (Used for status bars)
$code-color-base02: #4F5B66 !default; // Selection Background
$code-color-base03: #65737E !default; // Comments, Invisibles, Line Highlighting
$code-color-base04: #A7ADBA !default; // Dark Foreground (Used for status bars)
$code-color-base05: #C0C5CE !default; // Default Foreground, Caret, Delimiters, Operators
$code-color-base06: #DFE1E8 !default; // Light Foreground (Not often used)
$code-color-base07: #EFF1F5 !default; // Light Background (Not often used)
$code-color-base08: #BF616A !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$code-color-base09: #D08770 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$code-color-base0a: #EBCB8B !default; // Classes, Markup Bold, Search Text Background
$code-color-base0b: #A3BE8C !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$code-color-base0c: #96B5B4 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$code-color-base0d: #8FA1B3 !default; // Functions, Methods, Attribute IDs, Headings
$code-color-base0e: #B48EAD !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$code-color-base0f: #AB7967 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

.highlight {
    --code00: #{$code-color-base00};
    --code01: #{$code-color-base01};
    --code02: #{$code-color-base02};
    --code03: #{$code-color-base03};
    --code04: #{$code-color-base04};
    --code05: #{$code-color-base05};
    --code06: #{$code-color-base06};
    --code07: #{$code-color-base07};
    --code08: #{$code-color-base08};
    --code09: #{$code-color-base09};
    --code0a: #{$code-color-base0a};
    --code0b: #{$code-color-base0b};
    --code0c: #{$code-color-base0c};
    --code0d: #{$code-color-base0d};
    --code0e: #{$code-color-base0e};
    --code0f: #{$code-color-base0f};

    > .chroma {
        border-top: $code-border-width solid var(--code01);
        overflow-x: auto;

        table {
            position: relative;

            &::after {
                color: $code-color;
                content: 'Code';
                font-family: $family-monospace;
                font-size: $size-small;
                font-weight: $weight-bold;
                margin: $code-lang-label-margin;
                padding: $code-lang-label-padding;
                position: absolute;
                right: 0;
                text-transform: capitalize;
                top: 0;
            }
        }

        > table[data-lang] {
            &::after {
                content: attr(data-lang);
            }
        }

        tr {
            > td {
                &:first-child {
                    white-space: nowrap;
                }
            }
        }
    }
}

.chroma { /* Background */
    color: var(--code05);
    background-color:var(--code00);

    .err { /* Error */
        color: var(--code08);
    }

    .hl { /* LineHighlight */
        background-color: var(--code0a);
        display: block;
        width: 100%;
    }

    .ln, /* LineNumbers */
    .lnt { /* LineNumbersTable */
        padding: 0 $code-line-number-padding;
        color: var(--code03);
    }

    .lntable { /* LineTable */
        border-spacing: 0;
        border: 0;
        display: block;
        margin: 0;
        overflow: auto;
        padding: 0;
        width: auto;
    }

    .lntd { /* LineTableTD */
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

    .k, /* Keyword */
    .kc, /* KeywordConstant */
    .kd, /* KeywordDeclaration */
    .kn, /* KeywordNamespace */
    .kp, /* KeywordPseudo */
    .kr, /* KeywordReserved */
    .kt { /* KeywordType */
        color: var(--code0e);
        font-weight: $weight-bold;
    }

    .na, /* NameAttribute */
    .nc, /* NameClass */
    .nf, /* NameFunction */
    .nn, /* NameNamespace */
    .nt, /* NameTag */
    .nv { /* NameVariable */
        color: var(--code08);
    }

    .nb { /* NameBuiltin */
        color: var(--code0d);
        font-weight: $weight-bold; //
    }

    .no, /* NameConstant */
    .nd, /* NameDecorator */
    .ne { /* NameException */
        color: var(--code09);
    }

    .l,
    .ld { /* LiteralDate */
        color: var(--code09);
        font-weight: $weight-bold;
    }

    .s, /* LiteralString */
    .sa, /* LiteralStringAffix */
    .sb, /* LiteralStringBacktick */
    .sc, /* LiteralStringChar */
    .dl, /* LiteralStringDelimiter */
    .sd, /* LiteralStringDoc */
    .s2, /* LiteralStringDouble */
    .se, /* LiteralStringEscape */
    .sh, /* LiteralStringHeredoc */
    .si, /* LiteralStringInterpol */
    .sx, /* LiteralStringOther */
    .sr, /* LiteralStringRegex */
    .s1, /* LiteralStringSingle */
    .ss { /* LiteralStringSymbol */
        color: var(--code0b);
    }

    .m, /* LiteralNumber */
    .mb, /* LiteralNumberBin */
    .mf, /* LiteralNumberFloat */
    .mh, /* LiteralNumberHex */
    .mi, /* LiteralNumberInteger */
    .il, /* LiteralNumberIntegerLong */
    .mo { /* LiteralNumberOct */
        color: var(--code09);
    }

    .o,
    .ow { /* OperatorWord */
        color: var(--code0c);
    }

    .c, /* Comment */
    .ch, /* CommentHashbang */
    .cm, /* CommentMultiline */
    .c1 /* CommentSingle */
    {
        color: var(--code03);
    }

    .cs { /* CommentSpecial */
        color: var(--code0f);
    }

    .cf, /* CommentPreproc */
    .cpf { /* CommentPreprocFile */
        color: var(--code0b);
    }

    .gd, /* GenericDeleted */
    .gr, /* GenericError */
    .gt /* GenericTraceback */
    {
        color: var(--code08);
    }

    .ge { /* GenericEmph */
        font-style: italic;
    }

    .gh, /* GenericHeading */
    .gu /* GenericSubheading */
    {
        color: var(--code06);
        font-weight: $weight-bold;
    }

    .gi { /* GenericInserted */
        color: var(--code0b);
        font-weight: $weight-bold;
    }

    .go { /* GenericOutput */
        color: var(--code0d);
    }

    .gp { /* GenericPrompt */
        color: var(--code0d);
        font-weight: $weight-bold;
    }

    .gs { /* GenericStrong */
        font-weight: bold;
    }

    .gl { /* GenericUnderline */
        text-decoration: underline;
    }

    .w { /* TextWhitespace */
        color: var(--code05);
    }
}
