$icon-search-dimension: 1rem !default;
$icon-top-dimension: 2rem !default;

@import '~bulma/sass/elements/icon';

.icon {
    svg {
        path {
            transition: fill $speed $easing;
        }
    }
}

.icon-search {
    height: $icon-search-dimension;
    width: $icon-search-dimension;
}

.icon-top {
    height: $icon-top-dimension;
    width: $icon-top-dimension;
}
