$icon-brand-dimension: 1.5rem !default;
$icon-search-dimension: 1rem !default;
$icon-top-dimension: 2rem !default;

@import '~bulma/sass/elements/icon';

.icon {
    svg {
        transition: fill $speed $easing;
    }
}

.icon-search {
    height: $icon-search-dimension;
    width: $icon-search-dimension;
}

.icon-top {
    height: $icon-top-dimension;
    width: $icon-top-dimension;
}

.icon-github {
    @include svg-icon(#4078c0, $icon-brand-dimension);
}

.icon-twitter {
    @include svg-icon(#1da1f2, $icon-brand-dimension);
}

.icon-facebook {
    @include svg-icon(#3b5998, $icon-brand-dimension);
}

.icon-linkedin {
    @include svg-icon(#0077b5, $icon-brand-dimension);
}

.icon-rss {
    @include svg-icon(#f26522, $icon-brand-dimension);
}
