@import '~bulma/sass/elements/image';

.image {
    &.is-1by6,
    &.is-6by1 {
        img,
        .has-ratio {
            @include overlay;

            height: 100%;
            width: 100%;
        }
    }

    &.is-6by1 {
        padding-top: 16.66667%;
    }
}
