$notification-background-color: $background !default;
$notification-border: 1px solid rgba($black, 0.1) !default;
$notification-fixed-z: 30 !default;
$notification-padding: 1.25rem 3.5rem !default;

.notification {
    align-items: center;
    background-color: $notification-background-color;
    border-top: $notification-border;
    display: flex;
    justify-content: space-between;
    padding: $notification-padding;
    position: relative;

    @if not $amp {
        &.is-fixed-bottom {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: $notification-fixed-z;
        }

        &[disabled] {
            display: none;
        }
    }

    > .button {
        margin-left: 2rem;
        margin-top: auto;
    }
}
