$progress-value-background-color: $primary !default;
$progress-background-color: rgba($grey-lighter, 0.7) !default;

.progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $progress-background-color;
    border: none;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 100%;

    &::-moz-progress-bar {
        background-color: $progress-value-background-color;
    }

    &::-ms-fill {
        background-color: $progress-value-background-color;
    }

    &::-webkit-progress-bar {
        background-color: $progress-background-color;
    }

    &::-webkit-progress-value {
        background-color: $progress-value-background-color;
    }
}
