$family-cjk-ja-sans-serif: 'Noto Sans', 'Noto Sans JP', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', YuGothic, Meiryo !default;
$family-cjk-ko-sans-serif: 'Noto Sans', 'Noto Sans KR', 'Malgun Gothic' !default;
$family-cjk-sc-sans-serif: 'Noto Sans', 'Noto Sans SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei' !default;
$family-cjk-tc-sans-serif: 'Noto Sans', 'Noto Sans TC', 'PingFang TC', 'Hiragino Sans CNS', 'Microsoft JhengHei' !default;
$family-cjk-zh-sans-serif: 'Noto Sans', 'Noto Sans SC', 'Noto Sans TC', 'PingFang SC', 'PingFang TC', 'Hiragino Sans GB', 'Hiragino Sans CNS', 'Microsoft YaHei', 'Microsoft JhengHei' !default;

$family-cjk-ja-serif: 'Noto Serif', 'Noto Serif JP', $family-serif !default;
$family-cjk-ko-serif: 'Noto Serif', 'Noto Serif KR', $family-serif !default;
$family-cjk-sc-serif: 'Noto Serif', 'Noto Serif SC', $family-serif !default;
$family-cjk-tc-serif: 'Noto Serif', 'Noto Serif TC', $family-serif !default;

$typography-border-width: 0.0625rem !default;
$typography-cjk-margin: 0 0.125rem !default;

$typography-highlight-background-color: $yellow !default;
$typography-highlight-color: $text !default;
$typography-highlight-padding: 0.125rem 0.25rem 0 !default;
$typography-kbd-background-color: $dark !default;
$typography-kbd-color: $white !default;
$typography-kbd-padding: 0.125rem 0.25rem 0 !default;

a,
ins,
u {
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
}

abbr {
    &[title] {
        border-bottom: $typography-border-width dotted;
        cursor: help;
        text-decoration: none;
    }
}

kbd {
    background-color: $typography-kbd-background-color;
    border-bottom: $typography-border-width solid darken($typography-kbd-background-color, 15%);
    border-radius: $radius;
    color: $typography-kbd-color;
    font-family: $code-family;
    font-size: $code-size;
    padding: $typography-kbd-padding;
}

mark {
    background-color: $typography-highlight-background-color;
    border-bottom: $typography-border-width solid darken($typography-highlight-background-color, 15%);
    border-radius: $radius;
    color: $typography-highlight-color;
    padding: $typography-highlight-padding;
}

@if not $amp {
    :lang(ja) {
        font-family: $family-cjk-ja-sans-serif, $family-sans-serif;
    }

    :lang(ko) {
        font-family: $family-cjk-ko-sans-serif, $family-sans-serif;
    }

    :lang(zh) {
        font-family: $family-cjk-zh-sans-serif, $family-sans-serif;
    }

    :lang(zh-CN),
    :lang(zh-Hans) {
        font-family: $family-cjk-sc-sans-serif, $family-sans-serif;
    }

    :lang(zh-TW),
    :lang(zh-Hant) {
        font-family: $family-cjk-tc-sans-serif, $family-sans-serif;
    }
}

:lang(de) {
    > q {
        quotes: '\201E' '\201C' '\201A' '\2019';
    }
}

:lang(en) {
    > q {
        quotes: '\201C' '\201D' '\2018' '\2019';
    }
}

:lang(fr) {
    > q {
        quotes: '\00AB' '\00BB';
    }
}

:lang(ja) {
    > q {
        quotes: '\300C' '\300D' '\300E' '\300F';
    }
}

:lang(ko) {
    > q {
        quotes: '\201C' '\201D' '\2019' '\201A';
    }
}

:lang(zh-CN),
:lang(zh-Hans) {
    > q {
        quotes: '\201C' '\201D' '\2019' '\201A';
    }
}

:lang(zh-TW),
:lang(zh-Hant) {
    > q {
        quotes: '\300C' '\300D' '\300E' '\300F';
    }
}

:lang(ja),
:lang(zh) {
    del,
    s {
        & + del,
        & + s {
            margin: $typography-cjk-margin;
        }
    }

    ins,
    u {
        border-bottom: $typography-border-width solid;
        text-decoration: none;

        & + ins,
        & + u {
            margin: $typography-cjk-margin;
        }
    }
}
