$alignments: ('centered': 'center', 'justified': 'justify', 'left': 'left', 'right': 'right');

@each $name, $pair in $colors {
    $color: nth($pair, 1);

    .has-background-#{$name} {
        background-color: $color;
    }

    .has-text-#{$name} {
        color: $color;
    }

    a {
        &.has-text-#{$name} {
            &:hover,
            &:focus {
                color: darken($color, 10%);
            }
        }
    }
}

@each $name, $shade in $shades {
    .has-background-#{$name} {
        background-color: $shade;
    }

    .has-text-#{$name} {
        color: $shade;
    }
}

@each $alignment, $text-align in $alignments {
    .has-text-#{$alignment} {
        text-align: #{$text-align};
    }
}

.has-text-weight-light {
    font-weight: $weight-light;
}

.has-text-weight-normal {
    font-weight: $weight-normal;
}

.has-text-weight-semibold {
    font-weight: $weight-semibold;
}

.has-text-weight-bold {
    font-weight: $weight-bold;
}

.is-capitalized {
    text-transform: capitalize;
}

@each $size in $sizes {
    .is-size-#{index($sizes, $size)} {
        font-size: $size;
    }
}

.is-lowercase {
    text-transform: lowercase;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-italic {
    font-style: italic;
}

.is-family-primary {
    font-family: $family-primary;
}

.is-family-secondary {
    font-family: $family-secondary;
}

.is-family-sans-serif {
    font-family: $family-sans-serif;
}

.is-family-monospace {
    font-family: $family-monospace;
}

.is-family-code {
    font-family: $family-code;
}

.is-overlay {
    @include overlay;
}

.is-marginless {
    margin: 0;
}

.is-paddingless {
    padding: 0;
}

.is-radiusless {
    border-radius: 0
}

.is-shadowless {
    box-shadow: none;
}

.is-unselectable {
    @include unselectable;
}
