$amp-burger-height: 3.25rem !default;

.amp-burger {
    display: block;
    height: $amp-burger-height;
    margin-left: auto;
    position: relative;
    width: $amp-burger-height;

    span {
        background-color: currentColor;
        display: block;
        height: 1px;
        left: calc(50% - 8px);
        position: absolute;
        transition: opacity $speed $easing, transform $speed $easing;
        width: 16px;

        &:nth-child(1) {
            top: calc(50% - 6px);
        }

        &:nth-child(2) {
            top: calc(50% - 1px);
        }

        &:nth-child(3) {
            top: calc(50% + 4px);
        }
    }

    &.is-active {
        span {
            &:nth-child(1) {
                transform: translateY(5px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
}
