$button-background-color: $white !default;
$button-border-color: $grey-lighter !default;
$button-border-width: $control-border-width !default;
$button-color: $grey-darker !default;
$button-padding-horizontal: 0.75em !default;
$button-padding-vertical: calc(0.375em - #{$button-border-width}) !default;

.button {
    @extend %control;
    @extend %unselectable;

    background-color: $button-background-color;
    border-color: $button-border-color;
    border-width: $button-border-width;
    color: $button-color;
    justify-content: center;
    padding-bottom: $button-padding-vertical;
    padding-left: $button-padding-horizontal;
    padding-right: $button-padding-horizontal;
    padding-top: $button-padding-vertical;
    text-align: center;
    white-space: nowrap;

    &.is-primary {
        background-color: $primary;
        border-color: transparent;
        color: $primary-invert;
    }

    &.is-permalink {
        border-radius: 0;
        font-weight: $weight-bold;
        padding: calc(2em - 1px) calc(2.5rem + 1px);
    }

    strong {
        color: inherit;
    }

    .icon {
        &:first-child {
            &:last-child {
                margin-left: calc(-0.375em - #{$button-border-width});
                margin-right: calc(-0.375em - #{$button-border-width});
            }

            &:not(:last-child) {
                margin-left: calc(-0.375em - #{$button-border-width});
                margin-right: 0.1875em;
            }
        }

        &:last-child {
            &:not(:first-child) {
                margin-left: 0.1875em;
                margin-right: calc(-0.375em - #{$button-border-width});
            }
        }
    }
}
