$column-gap: 0.75rem !default;

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $column-gap;
}

.columns {
    margin-left: (-$column-gap);
    margin-right: (-$column-gap);
    margin-top: (-$column-gap);

    &:last-child {
        margin-bottom: (-$column-gap);
    }

    &:not(:last-child) {
        margin-bottom: calc(1.5rem - #{$column-gap});
    }

    &.is-centered {
        justify-content: center
    }

    &.is-gapless {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;

        & > .column {
            margin: 0;
            padding: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &.is-multiline {
        flex-wrap: wrap;
    }

    &.is-vcentered {
        align-items: center;
    }
}

@if $variable-columns {
    .columns {
        &.is-variable {
            --columnGap: 0.75rem;
            margin-left: calc(-1 * var(--columnGap));
            margin-right: calc(-1 * var(--columnGap));

            .column {
                padding-left: var(--columnGap);
                padding-right: var(--columnGap);
            }

            @for $i from 0 through 8 {
                &.is-#{$i} {
                    --columnGap: #{$i * 0.25rem};
                }
            }
        }
    }
}
