$alignments: ('centered': 'center', 'justified': 'justify', 'left': 'left', 'right': 'right');

@each $name, $pair in $colors {
    $color: nth($pair, 1);

    .has-background-#{$name} {
        background-color: $color;
    }

    .has-text-#{$name} {
        color: $color;
    }

    a {
        &.has-text-#{$name} {
            &:focus {
                color: darken($color, 10%);
            }
        }
    }
}

@each $alignment, $text-align in $alignments {
    .has-text-#{$alignment} {
        text-align: #{$text-align};
    }
}

.has-text-weight-light {
    font-weight: $weight-light;
}

.has-text-weight-normal {
    font-weight: $weight-normal;
}

.has-text-weight-semibold {
    font-weight: $weight-semibold;
}

.has-text-weight-bold {
    font-weight: $weight-bold;
}

.is-capitalized {
    text-transform: capitalize;
}

@each $size in $sizes {
    .is-size-#{index($sizes, $size)} {
        font-size: $size;
    }
}

.is-lowercase {
    text-transform: lowercase;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-italic {
    font-style: italic;
}

.is-circle {
    border-radius: 50%;
}

.is-rounded {
    border-radius: $radius;
}
