.post-heading {
    &:hover {
        .post-heading-link {
            opacity: 1;
        }
    }
}

.post-heading-link {
    margin: 0 0.5rem;
    opacity: 0;
    transition: opacity $speed $easing;
}
