$highlight-base00: #2b303b !default; // Default Background
$highlight-base01: #343d46 !default; // Lighter Background (Used for status bars)
$highlight-base02: #4f5b66 !default; // Selection Background
$highlight-base03: #65737e !default; // Comments, Invisibles, Line Highlighting
$highlight-base04: #a7adba !default; // Dark Foreground (Used for status bars)
$highlight-base05: #c0c5ce !default; // Default Foreground, Caret, Delimiters, Operators
$highlight-base06: #dfe1e8 !default; // Light Foreground (Not often used)
$highlight-base07: #eff1f5 !default; // Light Background (Not often used)
$highlight-base08: #bf616a !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$highlight-base09: #d08770 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$highlight-base0a: #ebcb8b !default; // Classes, Markup Bold, Search Text Background
$highlight-base0b: #a3be8c !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$highlight-base0c: #96b5b4 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$highlight-base0d: #8fa1b3 !default; // Functions, Methods, Attribute IDs, Headings
$highlight-base0e: #b48ead !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$highlight-base0f: #ab7967 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

.highlight {
    @include block;

    > .chroma {
        @include block;

        border-top: 0.5rem solid $highlight-base01;
        margin: 0 -1.5rem;
        overflow-x: auto;

        table {
            padding: 1rem 0;
            position: relative;

            &::after {
                color: findColorInvert($highlight-base00);
                content: 'Code';
                font-size: $size-7;
                font-weight: $weight-bold;
                margin: 0 1.5rem;
                padding: 0.25rem 0.75rem;
                position: absolute;
                right: 0;
                text-transform: capitalize;
                top: 0;
            }
        }

        > table[data-lang] {
            &::after {
                content: attr(data-lang);
            }
        }

        tr {
            > td:first-child {
                white-space: nowrap;
            }
        }

        pre {
            padding: 0 0.5rem;
        }
    }
}

.chroma {
    color: $highlight-base05;
    background-color:$highlight-base00;

    .lntable {
        display: block;
    }

    .lntd {
        vertical-align: top;
    }

    // Global
    .w {
        color: $highlight-base05;
    }

    .x {
        color: $highlight-base05;
    }

    .err {
        color: $highlight-base08;
    }

    // Generic
    .gd {
        color: $highlight-base08;
    }

    .ge {
        font-style: italic;
    }

    .gh {
        color: $highlight-base06;
        font-weight: $weight-bold;
    }

    .gi {
        color: $highlight-base0b;
        font-weight: $weight-bold;
    }

    .gu {
        color: $highlight-base0d;
        font-weight: $weight-bold;
    }

    // Comment
    .c {
        color: $highlight-base03;
    }

    .cp {
        color: $highlight-base0f;
    }

    .cpf {
        color: $highlight-base0b;
    }

    // Keyword
    .k {
        color: $highlight-base0e;
    }

    .kt {
        color: $highlight-base08;
    }

    // Name
    .na {
        color: $highlight-base0d;
    }

    .nb {
        color: $highlight-base0d;
    }

    .bp {
        color: $highlight-base08;
    }

    .nc {
        color: $highlight-base0d;
    }

    .no {
        color: $highlight-base09;
    }

    .nd {
        color: $highlight-base09;
    }

    .nf {
        color: $highlight-base0d;
    }

    .nn {
        color: $highlight-base0d;
    }

    .nt {
        color: $highlight-base0e;
    }

    .nv {
        color: $highlight-base0d;
    }

    .vi {
        color: $highlight-base08;
    }

    // Number
    .m {
        color: $highlight-base09;
    }

    // Operator
    .o {
        color: $highlight-base0c;
    }

    .ow {
        color: $highlight-base0e;
    }

    // Literal
    .l {
        color: $highlight-base0b;
    }

    // String
    .s {
        color: $highlight-base0b;
    }

    .si {
        color: $highlight-base0f;
    }

    .sr {
        color: $highlight-base0c;
    }

    .ss {
        color: $highlight-base09;
    }
}
