$post-series-background-color: $background !default;
$post-series-radius: $radius !default;
$post-series-color: $text !default;
$post-series-padding: 1.25em 1.5em !default;

.post-series {
    @include block;

    background-color: $post-series-background-color;
    border-radius: $post-series-radius;
    color: $post-series-color;
    padding: $post-series-padding;

    ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 1.5rem;
    }
}
