$post-background-color: $white !default;

.post-container {
    padding-bottom: 1.5rem;
}

.post {
    @include block;
    @include post-shadow;

    background-color: $post-background-color;
    padding: 1.5rem;

    .content {
        .image {
            &.is-full {
                margin: 0 -1.5rem;
            }
        }
    }
}

.post-content {
    @include block;

    position: relative;
}
