{{- $context := 0 | index . -}}
{{- $name := 1 | index . -}}

{{- $url := "https://raw.githubusercontent.com/iconify-design/collections-json/master/json/%s.json" -}}

{{- $key := $name | replaceRE "(?i).*:(.*)" "$1" -}}
{{- $data := $name | replaceRE "(?i)(.*):.*" "$1" | printf $url | getJSON -}}

{{- $alias := $key | index $data.aliases | default dict -}}
{{- $icon := $alias.parent | default $key | index $data.icons -}}

{{- $svg := false -}}
{{- if $icon -}}
    {{ $svg = slice $data $icon $alias | partial "renderers/svg" }}
{{- else -}}
    {{- errorf "No iconify icon '%s' with alias '%s' found" $name $key -}}
{{- end -}}
{{- return $svg -}}
