{{- $context := 0 | index . -}}
{{- $defaultKey := 1 | index . -}}
{{- $sortedKey := 2 | index . -}}
{{- $enabledItems := 3 | index . -}}

{{- $definedSorts := $sortedKey | lower | $context.Param | default slice -}}
{{- $defaultSorts := $defaultKey | lower | $context.Param | default slice -}}
{{- $sorts := $definedSorts | default $defaultSorts -}}

{{- $extraItems := $sorts | complement $enabledItems -}}

{{- $items := $sorts | complement $extraItems | append $enabledItems | uniq -}}

{{- return $items -}}
