{{- $colors := slice . "colors" | partial "functions/get-merged-configs.dict" -}}

:root {
    --primary-color: {{ "theme" | index $colors | default .Site.Params.ThemeColor | default "#000000" }};
}

{{ range $name, $color := $colors }}
    .icon-{{ $name }} svg path {
        fill: #000000;
    }

    .icon-{{ $name }}:hover svg path,
    .icon-{{ $name }}.is-hovered svg path {
        fill: {{ $color }};
    }
{{ end }}
