{{- $taxonomy := "AuthorTaxonomyName" | lower | index .Site.Params | default "authors" -}}

{{- $format := slice . | partial "functions/get-page-format.txt" -}}

{{ with "author" | .Param | slice . | partial "functions/get-author-data.dict" }}
    <div class="byline">
        {{ if .avatar }}
            <div class="byline-left">
                <figure class="avatar" data-initial="{{ .name | title | replaceRE "[[:space:]a-z0-9]" "" }}">
                    {{ if "AMP" | eq $format}}
                        <amp-img
                            src="{{ .avatar | absURL }}"
                            alt="{{ .name }}"
                            width="128"
                            height="128"
                        ></amp-img>
                    {{ else }}
                        <img src="{{ .avatar | absURL }}" alt="{{ .name }}">
                    {{ end }}
                </figure>
                {{ with .location }}
                    <p class="byline-location">{{ . }}</p>
                {{ end }}
            </div>
        {{ end }}
        <div class="byline-content">
            <div class="byline-item is-vertical">
                <p class="byline-heading">
                    {{- $default := printf "About %s" .name -}}
                    {{- $heading := .name | dict "Name" | i18n "byline_about" | default $default -}}

                    {{ with .id | urlize | printf "/%s/%s" $taxonomy | $.Site.GetPage }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ else }}
                        {{ if .url }}
                            <a href="{{ .url }}" title="{{ $heading }}">{{ .name }}</a>
                        {{ else }}
                            {{ $heading }}
                        {{ end }}
                    {{ end }}
                </p>
                {{ with .title }}
                    <p class="byline-title">{{ . }}</p>
                {{ end }}
                <p>{{ .biography | default .bio | safeHTML }}</p>
            </div>

            {{ with "license" | $.Param }}
                <div class="byline-item">
                    <p class="byline-heading">{{ i18n "byline_license" | default "License" }}</p>
                    <p>{{ . | safeHTML }}</p>
                </div>
            {{ end }}

            <div class="byline-item">
                {{ range sort .links "weight" }}
                    <a
                        class="icon icon-{{ .name }} is-hovered"
                        href="{{ .url | safeURL }}"
                        title="{{ .title }}"
                        {{ if "http" | hasPrefix .url }}
                            rel="external noopener"
                        {{ else }}
                            rel="noopener"
                        {{ end }}
                    >
                        {{ slice $ .name | partial "functions/get-icon.svg" }}
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
