{{- $taxonomy := "series" | index .Site.Taxonomies -}}

{{ range "series" | .Param }}
    {{- $name := . | urlize -}}

    {{ with $name | $taxonomy.Get }}
        {{- $position := slice $ .Pages | partial "functions/get-series-position.integer" -}}

        <div class="message is-primary">
            <div class="message-body">
                <p class="head">{{ $name | $taxonomy.Count | dict "Title" .Page.Title "Order" $position "Count" | i18n "page_series_message" }}</p>
                <ol class="list">
                    {{ range sort .Pages "Date" }}
                        <li>
                            {{ if .Permalink | eq $.Permalink }}
                                <span class="is-active">{{ .Title }}</span>
                            {{ else }}
                                <a href="{{ .RelPermalink }}" alt="{{ .Title }}">{{ .Title }}</a>
                            {{ end }}
                        </li>
                    {{ end }}
                </ol>
            </div>
        </div>
    {{ end }}
{{ end }}
