<div class="page-share-items">
    <span class="page-share-brand"></span>
    <a class="page-share-item" href="https://www.facebook.com/dialog/share?href={{ .Permalink | safeHTMLAttr }}" title="Share with Facebook">
        <span class="icon icon-facebook">
            {{ partial "svg/facebook.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="https://twitter.com/intent/tweet?url={{ .Permalink | safeHTMLAttr }}&text={{ .Title | safeHTMLAttr }}" title="Share with Twitter">
        <span class="icon icon-twitter">
            {{ partial "svg/twitter.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="https://lineit.line.me/share/ui?url={{ .Permalink | safeHTMLAttr }}&text={{ .Title | safeHTMLAttr }}" title="Share with LINE">
        <span class="icon icon-line">
            {{ partial "svg/line.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | safeHTMLAttr }}&title={{ .Title | safeHTMLAttr }}&summary={{ .Summary | safeHTMLAttr }}&source={{ .Site.BaseURL | safeHTMLAttr }}" title="Share with LinkedIn">
        <span class="icon icon-linkedin">
            {{ partial "svg/linkedin.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="https://trello.com/add-card?source={{ .Site.BaseURL | safeHTMLAttr }}&url={{ .Permalink | safeHTMLAttr }}&name={{ .Title }}&desc={{ .Summary | safeHTMLAttr }}" title="Share with Trello">
        <span class="icon  icon-trello">
            {{ partial "svg/trello.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="https://getpocket.com/edit?url={{ .Permalink | safeHTMLAttr }}" title="Share with Pocket">
        <span class="icon icon-pocket">
            {{ partial "svg/pocket.svg" . }}
        </span>
    </a>
    <a class="page-share-item" href="mailto:?subject={{ .Title | safeHTMLAttr }}&body={{ .Permalink | safeHTMLAttr }}" title="Share with Email">
        <span class="icon icon-email">
            {{ partial "svg/email.svg" . }}
        </span>
    </a>
</div>
