{{ if not .Site.Config.Privacy.Disqus.Disable }}
    {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ if and .Params.Comments .Site.Params.Comments }}
            <script>
                window.disqus_config = function () {
                    {{ with .Params.disqus_identifier }}
                        this.page.identifier = '{{ . }}'
                    {{ end }}

                    {{with .Params.disqus_title }}
                        this.page.title = '{{ . }}'
                    {{end}}

                    {{with .Params.disqus_url }}
                        this.page.url = '{{ . | html  }}'
                    {{end}}
                }
            </script>
        {{ end }}
    {{ end }}
{{ end }}
