{{ if gt $.Paginator.TotalPages 1 }}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {{ with $.Paginator.First }}
            <a class="pagination-previous" href="{{ .URL }}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
        {{ end }}

        {{ if $.Paginator.HasPrev }}
            <a class="pagination-previous" href="{{ .Paginator.Prev.URL }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        {{ else }}
            <a class="pagination-previous" aria-label="Previous" disabled><span aria-hidden="true">&laquo;</span></a>
        {{ end }}

        {{ if $.Paginator.HasNext }}
            <a class="pagination-next" href="{{ .Paginator.Next.URL }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        {{ else }}
            <a class="pagination-next" aria-label="Next" disabled><span aria-hidden="true">&raquo;</span></a>
        {{ end }}

        {{ with $.Paginator.Last }}
            <a class="pagination-next" href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
        {{ end }}

        <ul class="pagination-list">
            {{- $.Scratch.Set "__paginator.ellipsed" false -}}

            {{ range $.Paginator.Pagers }}
                {{- $show := le .PageNumber 3 | or (eq 0 (sub .TotalPages .PageNumber)) | or (2 | sub $.Paginator.PageNumber | gt .PageNumber | and (2 | add $.Paginator.PageNumber | lt .PageNumber)) -}}

                {{ if $show }}
                    {{- $.Scratch.Set "__paginator.ellipsed" false -}}
                    {{- $.Scratch.Set "__paginator.shouldEllipse" false -}}
                {{ else }}
                    {{- $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) -}}
                    {{- $.Scratch.Set "__paginator.ellipsed" true -}}
                {{ end }}

                <li>
                    {{ if $show }}
                        {{ if eq . $.Paginator }}
                            <a class="pagination-link is-current" aria-label="Page {{ .PageNumber }}" aria-current="page">{{ .PageNumber }}</a>
                        {{ else }}
                            <a class="pagination-link" href="{{ .URL }}" aria-label="Goto page {{ .PageNumber }}">{{ .PageNumber }}</a>
                        {{ end }}
                    {{ else }}
                        <span class="pagination-ellipsis">&hellip;</span>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </nav>
{{ end }}
