{{- $properties := slice . | partial "functions/get-page-properties.dict" -}}

<script>
    window.disqus_config = function () {
        {{ with "disqus_identifier" | .Param | default $properties.canonical.identifier }}
            this.page.identifier = '{{ . }}';
        {{ end }}

        {{ with "disqus_title" | .Param | default $properties.canonical.title }}
            this.page.title = '{{ . }}';
        {{ end }}

        {{ with "disqus_url" | .Param | default $properties.canonical.url }}
            this.page.url = '{{ . | safeHTML  }}';
        {{ end }}
    };
</script>
