$page-share-background-color: $white !default;
$page-share-border-color: $grey-lighter !default;
$page-share-border-width: 1px !default;
$page-share-brand-background-color: $primary !default;
$page-share-brand-color: $white !default;
$page-share-item-fixed-dimension: 2.5rem !default;
$page-share-item-fixed-padding: 0.25rem !default;
$page-share-margin-offset: 1.5rem !default;

.page-share {
    @include block;

    &.is-fixed-left {
        bottom: 0;
        left: #{-1 * $page-share-margin-offset};
        position: absolute;
        top: 0;
        transform: translateX(-100%);

        .page-share-items {
            border: $page-share-border-width solid $page-share-border-color;
            border-right: 0;
            bottom: 0;
            flex-direction: column;
            position: sticky;
            top: 5rem;
        }

        .page-share-brand {
            display: block;
        }

        .page-share-item {
            padding: $page-share-item-fixed-padding;
        }

        .icon {
            height: $page-share-item-fixed-dimension;
            width: $page-share-item-fixed-dimension;
        }
    }

    &.is-collapsed {
        .page-share-brand {
            padding-top: 100%;
        }
    }
}

.page-share-items {
    align-items: center;
    background-color: $page-share-background-color;
    display: flex;
    justify-content: center;
}

.page-share-item {
    align-items: center;
    display: flex;
    justify-content: center;
}

.page-share-brand {
    display: none;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    transition: padding-top $speed $easing;
    width: 100%;

    &::before {
        align-items: center;
        background-color: $page-share-brand-background-color;
        bottom: 0;
        color: $page-share-brand-color;
        content: '\148';
        display: flex;
        font-family: $family-brand;
        font-size: $size-large;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
