{{ define "main" }}
	<section class="section">
		<article class="page is-notfound">
			<div class="page-head">
				<span data-emoji></span>
			</div>
			<div class="page-body">
				<div class="notfound-content content">
					<h2 class="subtitle">404</h2>
					<h1 class="title">
						<span class="icon">
							{{ slice . "notfound" | partial "functions/get-icon.svg" }}
						</span>
						{{ i18n "404_notfound_title" | default "Page not found" }}
						<span class="icon">
							{{ slice . "notfound" | partial "functions/get-icon.svg" }}
						</span>
					</h1>
					<p>{{ i18n "404_notfound_text" | default "The page you are looking for doesn't exist or has been moved." }}</p>
				</div>
			</div>
			<div class="page-foot">
				{{ with .Site.Home.OutputFormats.Get "HTML" }}
					<a class="button is-primary" href="{{ .Permalink }}" title="{{ $.Site.Title }}">{{ i18n "404_notfound_link" | default "Go Home" }}</a>
				{{ end }}
			</div>
		</article>
	</section>
{{ end }}
