{{- $modules := index .Site.Data "amp-modules" -}}

<script async src="{{ index $modules "amp-core" }}"></script>

{{ range .Site.Params.AMP.Modules }}
    <script async custom-element="{{ . }}" src="{{ index $modules . }}"></script>
{{ end }}

{{ range .Params.AMP.Modules }}
    {{ if not in $.Site.Params.AMP.Modules . }}
        <script async custom-element="{{ . }}" src="{{ index $modules . }}"></script>
    {{ end }}
{{ end }}

{{ if not .Site.Config.Privacy.GoogleAnalytics.Disable }}
    <script async custom-element="amp-analytics" src="{{ index $modules "amp-analytics" }}"></script>
{{ end }}

{{ if not .Site.Config.Privacy.Disqus.Disable }}
    {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ if .Params.comments }}
            <script async custom-element="amp-iframe" src="{{ index $modules "amp-iframe" }}"></script>
        {{ end }}
    {{ end }}
{{ end }}
