{{- $modules := index .Site.Data "amp-modules" -}}

<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-custom-css-0.1.js">
<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-experiment-0.1.js">
<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/story-1.0.js">
<link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>

<script src="{{ index $modules "amp-core" }}" async></script>
<script custom-element="amp-sidebar" src="{{ index $modules "amp-sidebar" }}" async></script>

{{ range .Site.Params.AMPComponents }}
    <script custom-element="{{ . }}" src="{{ index $modules . }}" async></script>
{{ end }}

{{ range .Params.AMPComponents }}
    {{ if not in $.Site.Params.AMPComponents . }}
        <script custom-element="{{ . }}" src="{{ index $modules . }}" async></script>
    {{ end }}
{{ end }}

{{ block "scripts" . }}{{ end }}
