$typography-border-width: 0.0625rem !default;
$typography-highlight-background-color: $yellow !default;
$typography-highlight-color: $text !default;
$typography-highlight-padding: 0.125rem 0.25rem 0 !default;
$typography-kbd-background-color: $dark !default;
$typography-kbd-color: $white !default;
$typography-kbd-padding: 0.125rem 0.25rem 0 !default;

a,
ins,
u {
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
}

abbr {
    &[title] {
        border-bottom: $typography-border-width dotted;
        text-decoration: none;
    }
}

kbd {
    background-color: $typography-kbd-background-color;
    border-bottom: $typography-border-width solid darken($typography-kbd-background-color, 15%);
    border-radius: $radius;
    color: $typography-kbd-color;
    font-family: $code-family;
    font-size: $code-size;
    padding: $typography-kbd-padding;
}

mark {
    background-color: $typography-highlight-background-color;
    border-bottom: $typography-border-width solid darken($typography-highlight-background-color, 15%);
    border-radius: $radius;
    color: $typography-highlight-color;
    padding: $typography-highlight-padding;
}
