{{- $context := 0 | index . -}}
{{- $hero := 1 | index . -}}

{{ with $context }}
    {{- $format := slice . | partial "functions/get-page-format.string" -}}

    {{ with $hero }}
        {{ if .item }}
            <div class="hero {{ .size }}">
                <div class="hero-item">
                    {{ if "hero" | eq .type }}
                        {{- $height := .height | default .item.Height -}}
                        {{- $title := .title | default .item.Title | default .item.Name | safeHTML -}}
                        {{- $width := .width | default .item.Width -}}

                        {{- $resource := printf "%dx%d center" $width $height | .item.Fill -}}

                        <div class="hero-image">
                            <figure class="image {{ .size }}">
                                {{ if "AMP" | eq $format}}
                                    <amp-img
                                        src="{{ $resource.RelPermalink }}"
                                        alt="{{ $title }}"
                                        width="{{ $width }}"
                                        height="{{ $height }}"
                                        layout="responsive"
                                    ></amp-img>
                                {{ else }}
                                    <img src="{{ $resource.RelPermalink }}" alt="{{ $title }}">
                                {{ end }}
                                <figcaption class="hero-caption">
                                    <span class="hero-caption-item is-title">{{ $title }}</span>
                                    {{ with .credit | safeHTML }}
                                        <span class="hero-caption-item is-credit">{{ . }}</span>
                                    {{ end }}
                                    {{ with .date }}
                                        <span class="hero-caption-item is-date">{{ . | time | slice | partial "components/renderers/date.html" }}</span>
                                    {{ end }}
                                    {{ with .license | safeHTML }}
                                        <span class="hero-caption-item is-license">{{ . }}</span>
                                    {{ end }}
                                    {{ with .caption | safeHTML }}
                                        <span class="hero-caption-item is-caption">{{ . }}</span>
                                    {{ end }}
                                </figcaption>
                            </figure>
                        </div>
                    {{ else if "video" | eq .type }}
                        <div class="hero-video">
                            <figure class="video {{ .size }}">
                                {{ if "AMP" | eq $format}}
                                    <amp-iframe
                                        src="{{ .item | absURL }}"
                                        frameborder="0"
                                        width="{{ .width | default 1920 }}"
                                        height="{{ .height | default 320 }}"
                                        layout="responsive"
                                    ></amp-iframe>
                                {{ else }}
                                    <iframe
                                        src="{{ .item | absURL }}"
                                        width="{{ .width | default 1920 }}"
                                        height="{{ .height | default 320 }}"
                                        frameborder="0"
                                        allow="autoplay; encrypted-media"
                                        allowfullscreen
                                    ></iframe>
                                {{ end }}
                                <figcaption class="hero-caption">
                                    {{ with .title | safeHTML }}
                                        <span class="hero-caption-item is-title">{{ . }}</span>
                                    {{ end }}
                                    {{ with .credit | safeHTML }}
                                        <span class="hero-caption-item is-credit">{{ . }}</span>
                                    {{ end }}
                                    {{ with .date }}
                                        <span class="hero-caption-item is-date">{{ . | time | slice | partial "components/renderers/date.html" }}</span>
                                    {{ end }}
                                    {{ with .license | safeHTML }}
                                        <span class="hero-caption-item is-license">{{ . }}</span>
                                    {{ end }}
                                    {{ with .caption | safeHTML }}
                                        <span class="hero-caption-item is-caption">{{ . }}</span>
                                    {{ end }}
                                </figcaption>
                            </figure>
                        </div>
                    {{ else if "asset" | eq .type }}
                        {{- $title := .title | default $context.Title | default $context.Site.Title | safeHTML -}}
                        {{- $resource := .item | resources.Get | fingerprint "sha512" -}}

                        <div class="hero-asset">
                            <figure class="image {{ .size }}">
                                {{ if "AMP" | eq $format}}
                                    <amp-img
                                        src="{{ $resource.RelPermalink }}"
                                        alt="{{ $title }}"
                                        width="{{ .width | default 1920 }}"
                                        height="{{ .height | default 320 }}"
                                    ></amp-img>
                                {{ else }}
                                    <img src="{{ $resource.RelPermalink }}" alt="{{ $title }}">
                                {{ end }}
                                <figcaption class="hero-caption">
                                    <span class="hero-caption-item is-title">{{ $title }}</span>
                                    {{ with .credit | safeHTML }}
                                        <span class="hero-caption-item is-credit">{{ . }}</span>
                                    {{ end }}
                                    {{ with .date }}
                                        <span class="hero-caption-item is-date">{{ . | time | slice | partial "components/renderers/date.html" }}</span>
                                    {{ end }}
                                    {{ with .license | safeHTML }}
                                        <span class="hero-caption-item is-license">{{ . }}</span>
                                    {{ end }}
                                    {{ with .caption | safeHTML }}
                                        <span class="hero-caption-item is-caption">{{ . }}</span>
                                    {{ end }}
                                </figcaption>
                            </figure>
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
