{{- $script := 0 | index . -}}

{{ if reflect.IsMap $script }}
    {{ if $script.integrity | and $script.crossorigin }}
        {{ if $script.defer }}
            {{ printf "<script src=%q integrity=%q crossorigin=%q defer></script>" $script.src $script.integrity $script.crossorigin | safeHTML }}
        {{ else }}
            {{ printf "<script src=%q integrity=%q crossorigin=%q></script>" $script.src $script.integrity $script.crossorigin | safeHTML }}
        {{ end }}
    {{ else }}
        {{ if $script.defer }}
            {{ printf "<script src=%q defer></script>" $script.src | safeHTML }}
        {{ else }}
            {{ printf "<script src=%q></script>" $script.src | safeHTML }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ printf "<script src=%q></script>" $script.src | safeHTML }}
{{ end }}
