{{- $context := 0 | index . -}}

{{ with $context }}
    {{- $current := .Language.Lang -}}

    {{ range .AllTranslations.ByWeight }}
        {{ if .Language.Lang | eq $current }}
            <a class="sidebar-item is-active" href="{{ .RelPermalink }}" title="{{ .Title }}">
                {{ .Language.Lang }}
            </a>
        {{ else }}
            <a class="sidebar-item" href="{{ .RelPermalink }}" title="{{ .Title }}">
                {{ .Language.Lang }}
            </a>
        {{ end }}
    {{ end }}
{{ end }}
