.icon {
    path {
        transition: fill $speed $easing;
    }

    &:hover {
        &.is-github {
            path {
                fill: #4078c0;
            }
        }

        &.is-twitter {
            path {
                fill: #1da1f2;
            }
        }

        &.is-facebook {
            path {
                fill: #3b5998;
            }
        }

        &.is-linkedin {
            path {
                fill: #0077b5;
            }
        }

        &.is-rss {
            path {
                fill: #f26522;
            }
        }
    }
}
