$header-progress-background-color: rgba($grey-lighter, 0.7) !default;
$header-progress-bottom: -1px !default;
$header-progress-height: 4px !default;

.header {
    .progress {
        background-color: $header-progress-background-color;
        border: none;
        bottom: $header-progress-bottom;
        height: $header-progress-height;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }
}
