$header-progress-height: 2px !default;

.header {
    .progress {
        appearance: none;
        background-color: transparent;
        border: none;
        bottom: -1px;
        color: $primary;
        height: $header-progress-height;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }
}
