{{- partial "functions/ensure-amp-module" (dict "context" . "module" "amp-analytics") -}}

{{ if not .Site.Config.Privacy.GoogleAnalytics.Disable | and .Site.Config.Services.GoogleAnalytics.ID }}
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
            {
                "vars": {
                    "gtag_id": "{{ .Site.Config.Services.GoogleAnalytics.ID }}",
                    "config": {
                        "{{ .Site.Config.Services.GoogleAnalytics.ID }}": {
                            "groups": "default"
                        }
                    }
                }
            }
        </script>
    </amp-analytics>
{{ end }}
