{{- slice . "amp-analytics" | partial "functions/check-amp-module.error" -}}

{{- $triggers := "amp-analytics-triggers" | index .Site.Data | default dict -}}

{{ if not .Site.Config.Privacy.GoogleAnalytics.Disable | and .Site.Config.Services.GoogleAnalytics.ID }}
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
            {
                "vars": {
                    "gtag_id": "{{ .Site.Config.Services.GoogleAnalytics.ID }}",
                    "config": {
                        "{{ .Site.Config.Services.GoogleAnalytics.ID }}": {
                            "groups": "default"
                        }
                    }
                },
                "triggers" : {{ $triggers }}
            }
        </script>
    </amp-analytics>
{{ end }}
