{{- $images := $.Resources.ByType "image" -}}
{{- $image := $images.GetMatch "*cover*" | or ($images.GetMatch "*feature*") -}}

<div class="hero has-featured-media">
    <div class="hero-body">
        {{ if .Params.Videos }}
            {{- $video := index .Params.Videos 0 -}}

            <div class="hero-media is-video">
                <amp-iframe
                    src="{{ $video | absURL }}"
                    frameborder="0"
                    width="200"
                    height="100"
                    layout="responsive"
                ></amp-iframe>
            </div>
        {{ else if $image }}
            {{- $caption := .Params.Caption | default $image.Title | default $image.Name -}}

            {{ if .Params.Cover }}
                {{- $cover := $image.Fill "1920x640 center" -}}

                <div class="hero-media is-cover">
                    <figure class="image">
                        <amp-img
                            src="{{ $cover.RelPermalink }}"
                            alt="{{ $caption }}"
                            width="1920"
                            height="640"
                        ></amp-img>
                        {{ with $caption }}
                            <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </div>
            {{ else }}
                {{- $banner := $image.Fill "1920x320 center" -}}

                <div class="hero-media is-banner">
                    <figure class="image">
                        <amp-img
                            src="{{ $banner.RelPermalink }}"
                            alt="{{ $caption }}"
                            width="1920"
                            height="320"
                        ></amp-img>
                        {{ with $caption }}
                            <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </div>
            {{ end }}
        {{ else if .Site.Params.DefaultHeroBanner }}
            {{- $banner := resources.Get .Site.Params.DefaultHeroBanner | fingerprint "sha512" -}}

            <div class="hero-media is-banner">
                <figure class="image">
                    <amp-img
                        src="{{ $banner.RelPermalink }}"
                        alt="{{ .Site.Title }}"
                        width="1920"
                        height="320"
                    >
                    </amp-img>
                </figure>
            </div>
        {{ else }}
            <div class="hero-media is-blank"></div>
        {{ end }}
    </div>
</div>
