<amp-sidebar id="site-sidebar" class="sidebar" layout="nodisplay" side="right">
    <div class="amp-burger is-active" on="tap:site-sidebar.close" role="button" aria-label="close sidebar" tabindex="0">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </div>

    <p class="sidebar-label">{{ i18n "sidebar_navigation_label" }}</p>
    <nav class="sidebar-menu">
        {{ partial "components/common/sidebar-menu-items" . }}
    </nav>

    {{ if .IsTranslated }}
        <p class="sidebar-label">{{ i18n "sidebar_language_label" }}</p>
        <nav class="sidebar-menu">
            {{ partial "components/common/sidebar-language-items" . }}
        </nav>
    {{ end }}

    <nav class="sidebar-menu is-pulled-bottom">
        <section class="sidebar-item has-items">
            {{ with .Site.Params.Socials }}
                {{ range sort . "weight" }}
                    <div class="sidebar-item">
                        <a class="icon is-{{ .icon }}" href="{{ .url | safeURL }}" title="{{ .name | safeHTMLAttr }}" rel="external noopener">
                            {{ partial (printf "images/%s.svg" .icon) . }}
                        </a>
                    </div>
                {{ end }}
            {{ end }}

            {{ with .Site.Home.OutputFormats.Get "RSS" }}
                <div class="sidebar-item">
                    <a class="icon icon-rss" href="{{ .RelPermalink }}" title="{{ i18n "navbar_social_rss" | default "RSS" }}">
                        {{ partial "images/rss.svg" . }}
                    </a>
                </div>
            {{ end }}
        </section>
    </nav>
</amp-sidebar>
