{{- $current := . -}}
{{- $name := .Site.Params.NavbarMenuName | default "main" -}}

<amp-sidebar id="site-sidebar" class="sidebar" layout="nodisplay" side="right">
    <div class="amp-burger is-active" on="tap:site-sidebar.close" role="button" aria-label="close sidebar" tabindex="0">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </div>

    {{ with .Site.Home.OutputFormats.Get "JSON" }}
        <div class="sidebar-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Search">
                </p>
                <p class="control">
                    <button class="button">
                        <span class="icon icon-search"></span>
                    </button>
                </p>
            </div>
        </div>
    {{ end }}

    <p class="sidebar-label">{{ i18n "sidebar_navigation_label" }}</p>
    <nav class="sidebar-menu">
        {{ range index .Site.Menus $name }}
            {{ if or ($current.IsMenuCurrent $name .) ($current.HasMenuCurrent $name .) }}
                {{ if .HasChildren }}
                    <section class="sitebar-item has-children is-current">
                        <a class="sidebar-link"  href="{{ .URL }}" title="{{ .Name }}">
                            {{ .Name }}
                        </a>

                        <div class="sidebar-children">
                            {{ range .Children }}
                                <a class="sidebar-item" href="{{ .URL }}" title="{{ .Name }}">
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        </div>
                    </section>
                {{ else }}
                    <a class="sidebar-item is-current"  href="{{ .URL }}" title="{{ .Name }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            {{ else }}
                {{ if .HasChildren }}
                    <section class="sitebar-item has-children">
                        <a class="sidebar-link"  href="{{ .URL }}" title="{{ .Name }}">
                            {{ .Name }}
                        </a>

                        <div class="sidebar-children">
                            {{ range .Children }}
                                <a class="sidebar-item" href="{{ .URL }}" title="{{ .Name }}">
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        </div>
                    </section>
                {{ else }}
                    <a class="sidebar-item"  href="{{ .URL }}" title="{{ .Name }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    </nav>

    {{ if .IsTranslated }}
        {{- $current := .Language.LanguageName -}}

        <p class="sidebar-label">{{ i18n "sidebar_language_label" }}</p>
        <nav class="sidebar-menu">
            {{ range .Site.Home.AllTranslations.ByWeight }}
                {{ if eq $current .Language.LanguageName }}
                    <a class="sidebar-item is-active" href="{{ .RelPermalink }}" title="{{ .Title }}">
                        {{ .Language.LanguageName }}
                    </a>
                {{ else }}
                    <a class="sidebar-item" href="{{ .RelPermalink }}" title="{{ .Title }}">
                        {{ .Language.LanguageName }}
                    </a>
                {{ end }}
            {{ end }}
        </nav>
    {{ end }}

    <nav class="sidebar-menu is-pulled-bottom">
        <section class="sidebar-item has-items">
            {{ with .Site.Params.Socials }}
                {{ range sort . "weight" }}
                    <div class="sidebar-item">
                        <a class="icon icon-{{ .icon }}" href="{{ .url | safeURL }}" title="{{ .name | safeHTMLAttr }}" rel="external noopener"></a>
                    </div>
                {{ end }}
            {{ end }}

            {{ with .Site.Home.OutputFormats.Get "RSS" }}
                <div class="sidebar-item">
                    <a class="icon icon-rss" href="{{ .RelPermalink }}" title="{{ i18n "navbar_social_rss" | default "RSS" }}"></a>
                </div>
            {{ end }}
        </section>
    </nav>
</amp-sidebar>
