{{- slice . "amp-sidebar" | partial "sentinels/amp-module" -}}

{{- $enabled := .Params.EnabledSocials -}}
{{- $disabled := .Params.DisabledSocials -}}

<amp-sidebar id="site-sidebar" class="sidebar" layout="nodisplay" side="right">
    <div class="amp-burger is-active" on="tap:site-sidebar.close" role="button" aria-label="close sidebar" tabindex="0">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </div>

    {{ partial "wrappers/amp-search" . }}

    <p class="sidebar-label">{{ i18n "sidebar_navigation_label" }}</p>
    <nav class="sidebar-menu">
        {{ .Site.Params.NavbarMenuName | default "main" | dict "context" . "name" | partial "renderers/sidebar-items" }}
    </nav>

    {{ if .IsTranslated }}
        <p class="sidebar-label">{{ i18n "sidebar_language_label" }}</p>
        <nav class="sidebar-menu">
            {{ partial "components/common/sidebar-language-items" . }}
        </nav>
    {{ end }}

    <nav class="sidebar-menu is-pulled-bottom">
        <section class="sidebar-item has-items">
            {{ .Site.Params.NavbarLinkName | default "link" | dict "context" . "wrapper" "sidebar-item" "name" | partial "renderers/menu-icon-links" }}

            {{ with .Site.Home.OutputFormats.Get "RSS" }}
                <div class="sidebar-item">
                    <a class="icon icon-rss" href="{{ .RelPermalink }}" title="{{ i18n "navbar_link_rss" | default "RSS" }}">
                        {{ slice $ "icon-rss" | partial "functions/get-svg-icon" }}
                    </a>
                </div>
            {{ end }}
        </section>
    </nav>
</amp-sidebar>
