{{- $name := .name -}}
{{- $context := .context -}}

{{ with $context }}
    {{ with $name | index .Site.Menus }}
        {{ range sort . "Weight" }}
            <div class="sidebar-item">
                <a
                    class="icon icon-{{ .Name }}"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    rel="external noopener"
                >
                    {{ partial (printf "images/%s.svg" .Name) . }}
                </a>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
