{{- $hero := newScratch -}}
{{- $resources := .Page.Page.Resources.ByType "image" -}}

{{- "hero" | $hero.SetInMap "hero" "type" -}}

{{- "src" | .Get | default (.Get 0) | $resources.GetMatch | $hero.SetInMap "hero" "item" -}}
{{- "title" | .Get | default (.Get 1) | $hero.SetInMap "hero" "title" -}}
{{- "caption" | .Get | default (.Get 2) | $hero.SetInMap "hero" "caption" -}}

{{- "date" | .Get | $hero.SetInMap "hero" "date" -}}
{{- "credit" | .Get | $hero.SetInMap "hero" "credit" -}}
{{- "license" | .Get | $hero.SetInMap "hero" "license" -}}

{{- "size" | .Get | default "is-16by9" | $hero.SetInMap "hero" "size" -}}
{{- "width" | .Get | default 1920 | $hero.SetInMap "hero" "width" -}}
{{- "height" | .Get | default 1080 | $hero.SetInMap "hero" "height" -}}

{{- $hero.Get "hero" | slice .Page.Page | partial "components/renderers/hero.html" -}}
