{{ if .Get "id" }}
    {{- .Get "id" | slice "keyId" | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ else if .Get "fingerprint" }}
    {{- .Get "fingerprint" | slice "fingerprint" | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ else if .Get "email" }}
    {{- .Get "email" | slice "email" | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ else if .Site.Params.PGPKeyId }}
    {{- slice "keyId" .Site.Params.PGPKeyId | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ else if .Site.Params.PGPFingerPrint }}
    {{- slice "fingerprint" .Site.Params.PGPFingerPrint | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ else }}
    {{- slice "email" .Site.Params.PGPEmail | partial "functions/get-pgpkey-from-mailvelope" -}}
{{ end }}
