{{- $taxonomy := "series" | index .Site.Taxonomies -}}

{{ range "series" | .Param }}
    {{- $name := . | urlize -}}
    {{- $term := $name | $taxonomy.Get -}}
    {{- $position := slice $ $term.Pages | partial "functions/get-series-position" -}}

    {{ with $name | $taxonomy.Get }}
        <div class="message is-info">
            <div class="message-body">
                <p>{{ $name | $taxonomy.Count | dict "Title" .Page.Title "Order" $position "Count" | i18n "page_series_message" }}</p>
                <ul>
                    {{ range .Pages }}
                        <li>
                            {{ if .Permalink | eq $.Permalink }}
                                {{ .Title }}
                            {{ else }}
                                <a href="{{ .RelPermalink }}" alt="{{ .Title }}">{{ .Title }}</a>
                            {{end}}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    {{ end }}
{{ end }}
